/*
============================================================================
= Typography
============================================================================
*/

form.formtastic                                      { font-size: 1.3em; }
form.formtastic abbr                                 { color: #E22; }
form.formtastic fieldset.buttons ol li               { margin-bottom: 0; }
form.formtastic fieldset ol li p.inline-errors       { color: #D32; }
form.formtastic fieldset ol li p.inline-hints        { color: #A1A1A1; font-size: 0.8em !important; margin: 0 0 0 165px; }
form.formtastic fieldset ol li label                 { color: #555; font-size: 0.8em; }

form.formtastic fieldset.inputs ol li select,
form.formtastic fieldset.inputs ol li textarea,
form.formtastic fieldset.inputs ol li input          { font-size: 0.9em; }

/* Grupes: */

div.show input[type=text] { font-size: 1.2em; }
ul.buttons li .button { margin-right: 10px; }


/*
============================================================================
= General Structure
============================================================================
*/

div.todo_content form.formtastic                     { margin: 0; }
div#comments form.formtastic                         { margin: 25px 15px 0px 25px; }

div.form_with_notes                                  { width: 65%; }
div.form_side_notes                                  { width: 30%; float: right; }
div.form_side_notes .note                            { margin: 0 0 15px; }
div.required_field_note                              { margin: 0 0 1em 35%; }

form.formtastic                                      { margin: 0 15px 0 10px; }
form.formtastic                                      { padding: 0 15px 0 0; }

form.formtastic input#user_openid_identifier         { background: url("/images/openid.gif") no-repeat; background-color: #FFF; }
form.formtastic input#user_openid_identifier         { background-position: 2% 50%; text-indent: 20px; }
form.formtastic input#user_session_openid_identifier { background: url("/images/openid.gif") no-repeat; background-color: #FFF; }
form.formtastic input#user_session_openid_identifier { background-position: 2% 50%; text-indent: 20px; }

textarea,
form.formtastic fieldset.inputs ol li textarea       { width: 600px; }

div.show input[type=text],
form.formtastic fieldset.inputs ol li input[type=password],
form.formtastic fieldset.inputs ol li input[type=text] { width: 250px; }

form.formtastic fieldset.inputs ol li select         { margin-top: 5px; padding: 2px; }
form.formtastic fieldset.inputs ol li p.inline-errors { margin: 0 0 0 165px !important; }

textarea,
div.show input[type=text],
form.formtastic fieldset.inputs ol li textarea,
form.formtastic fieldset.inputs ol li input[type=password],
form.formtastic fieldset.inputs ol li input[type=text] { padding: 4px; border: 1px solid #9E9E9E; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

div.show input[type=text] { margin-left: 10px; padding: 5px !important; }

form.formtastic fieldset.inputs ol li.token-input-input-token-facebook input { border: none; }
form.formtastic fieldset.inputs ol li.token-input-input-token-facebook input:focus { border: none; box-shadow: none; }

form.formtastic fieldset.inputs ol li label          { width: 165px; padding: 0.7em 0 0; }
form.formtastic fieldset.inputs ol li.boolean label  { float: left; padding: 0 0 0 165px; }
form.formtastic fieldset.inputs ol li.boolean p.inline-hints { clear: left; }

form.formtastic fieldset.inputs ol li fieldset ol    { padding: 0; margin: 0 0 0 165px; }

form.formtastic legend                               { padding: 0 0 15px 0; }

li#user_session_remember_me_input label              { margin: 0 0 0 150px; }

form.formtastic fieldset.inputs ol div.fields { margin-bottom: 1.5em; }
form.formtastic fieldset.inputs ol div.fields a { text-decoration: underline; }

/* Buttons */

form.formtastic fieldset.buttons                     { padding: 0; }

/* CSS3 */

form.formtastic fieldset ol li.string input:focus,
form.formtastic fieldset ol li.password input:focus,
form.formtastic fieldset ol li.text textarea:focus   { -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px; -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px; box-shadow: 0 0 3px rgba(0,0,0,0.3); border: 1px solid #CCC; }
