<div class="content">
  <h2><%= I18n::t('admin.messages.index.by_category') %> <%= @category.name %></h2>
  <%= render :partial => 'admin/messages/list.html.erb', :locals => {:project_id => params[:project_id], :messages => @messages} %>
</div>
