/*          policy   logo
   orange:  #f2673a  #f25030
   gray:    #676766  #5e5f61
*/


/*
============================================================================
= Typography
============================================================================
*/
html, body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; padding: 0; margin: 0;  }
#main-nav a       { color: #ddd;  text-decoration: none;}

/*
============================================================================
= General Structure
============================================================================
*/

/*
============================================================================
= Specific Sections Structure
============================================================================
*/

h1,
h2,
h3,
h4,
h5,
h6 { padding: 0; margin: 0; } 

#page-container { margin: auto;  padding: 25px;  width: 1000px;}

body {  }

/* Header */
#header       {  }
#header a img {  border: none;}

/* Main navigation */
#main-nav         { padding: 2px;  padding-bottom: 4px;  margin-top: 15px;  color: #ddd;  background: #676766;}
#main-nav a:hover { color: white;}

/* Content */
#content {/* padding-top: 25px;*/ padding-bottom: 25px;}

/* Sidebar */
#sidebar          { float: right;  width: 200px;  padding: 25px;}
#sidebar a        { color: #676766;}
#sidebar a:hover  { background: #676766;  color: white;}
div#sidebar p img { vertical-align:text-top;}

#inner            { margin-right: 250px;  background: #f2673a;}

/* Announcements */
#announcements             { padding: 10px; height: 300px;/*  background: #f2673a;*/  border:1px solid black;}
#announcements-bar         { margin-bottom: 10px;  color: #ddd;  text-align: center;/*  background: #f2673a;*/  border:1px solid black;}
#announcements-bar a       { color: #ddd;  text-decoration: none;}
#announcements-bar a:hover { color: white;}
#announcements-area        { position: relative;/*  width: 730px;*/  height: 283px;  background: white;}
#announcement1             { display: block;}
#announcement2, 
#announcement3, 
#announcement4, 
#announcement5             { /*opacity: 0;*/ /*filter: alpha(0);*/ display: none;}
/*.announcement-background-class {  width: 730px;  height: 283px;}*/
.announcement-class {  position: absolute;  top: 0;/*}

.announcement-message-class {  background: url('images/transparent.png');  position: absolute;  bottom: 0;*/
  padding: 10px; /*margin-bottom: 3px;*/ width: 710px;  max-height: 263px; overflow: hidden; /*text-shadow: #6374AB -2px 1px 2px;*/}

#entries {  padding: 10px;  padding-top: 25px;  margin-top: 10px;  min-height: 10em;  background: white;}

#footer {  clear: both;  border-top: 1px solid gray;}

#website_left_side{  width:750px;  float:left;  background-color: #fff;}
#website_announcements{}
#website_posts{  border:1px solid black;  margin-top:10px;}
#website_right_side{  width:200px;  float:right;}

/* Posts */
.website_posts_post                 { border: 1px solid black;  margin:5px;}
.website_posts_post_content         { border-top: 1px solid black;  padding : 10px;}
.website_posts_post_date            { padding:5px;  }
.website_posts_post_content_title   { font-size:1.3em;  margin-bottom:5px;}
.website_posts_post_content_title a { color:blue;  text-decoration:underline;}
.website_posts_post_text            { padding-bottom:15px;}

#website_menu_links   { border:1px solid black;  width:100%;}
#website_static_pages { border:1px solid black;  width:100%;}

/* Other */
.asBlock           { display:block;}
.paddingMargin10PX { margin-bottom:10px;}
