// ============================================================================
// Rules
// ============================================================================


body
  background-color: $frontend-background-color
  background-image: url("/stylesheets/themes/adege/images/pattern.png")


h2.title, h3.archives-month-title 
  margin: 0 0 $content-margin

  a:hover
    border-bottom: 3px solid $default-color


hr
  background-color: #DDD
  border: none
  clear: left
  height: 1px
  margin: $content-margin 0


div#container
  margin: auto
  width: 1000px


div#content.single
  position: relative
  width: 955px


div#content.double
  position: relative
  width: 755px


div#wrapper
  margin: 0 auto 0
  position: relative
  width: 1000px


div#tag-cloud
  background-color: $default-color
  padding: 22px 13px 22px
  position: absolute
  right: 0
  top: 320px
  width: 175px
  @include round-corners(30px, 0, 0, 30px)
  @include enable-ie-css3

  li
    margin: 5px

  a:hover
    border-bottom: 2px solid #FFF


div#tag-search-bar
  margin: 0 0 $content-margin

  div#tags
    margin: 10px


img#logo
  position: relative
  left: 15px


div#flash-content
  padding: 35px 20px 0


div#header
  background-color: $default-color
  float: right
  padding: 10px 20px $content-margin
  text-align: center
  @include round-corners(0, 0, 30px, 30px)
  @include enable-ie-css3

  span.options a:hover
    border-bottom: 2px solid #FFF


span.site-title
  display: block
  margin: 0 35px 35px


div#menu
  margin: 0 35px 0 0
  position: absolute
  right: 0
  top: 152px

  li
    display: inline
    margin: 0 0 0 6px

  a
    padding: 8px 10px

  a:hover
    background-color: $default-color
    color: #FFF
    padding: 8px 10px
    @include inset-box-shadow(0, 2px, 7px, #9B1E1E)
    @include round-corners(12px, 12px, 12px, 12px)
    @include enable-ie-css3


div#main
  background-color: #FEFEFE
  border: 3px solid $default-color
  padding: 20px
  position: relative
  z-index: 1
  @include round-corners(12px, 12px, 12px, 12px)
  @include enable-ie-css3


div#user-info, div#user-invite
  margin: 15px 10px


div#footer
  margin: 25px

  a:hover
    border-bottom: 2px solid $default-color


div#flash
  background-image: url("/images/dark_transparency.png")
  border-top: 1px solid #000
  bottom: 0
  left: 0
  padding: 15px 0
  position: fixed
  width: 100%
  z-index: 1

  div.message
    margin: 0 0 0 30px

    p
      margin: 0 70px
      padding: 20px

  div.message.error
    background: url("/stylesheets/themes/adege/images/flash/error.png") no-repeat 0 50%

  div.message.warning
    background: url("/stylesheets/themes/adege/images/flash/warning.png") no-repeat 0 50%

  div.message.info, div.message.notice
    background: url("/stylesheets/themes/adege/images/flash/notice.png") no-repeat 0 50%


// =============
// Announcements
// =============


div#announcements
  border: 2px solid #333
  margin: $content-margin $content-margin 35px
  position: relative
  overflow: hidden

  a
    display: block
    
  a:hover
    border: none


div.announcement-tail
  display: none


div#announcement-numbers
  background: url("/images/dark_transparency.png")
  cursor: default
  padding: 12px
  position: absolute
  background-clip: padding-box
  @include round-corners(0, 0, 12px, 0)
  @include enable-ie-css3

  a
    display: inline-block


div#announcements img
  height: 250px
  width: 926px


div.announcement-text
  background: url("/images/dark_transparency.png")
  bottom: 0
  padding: 14px 12px 12px 14px
  position: absolute
  right: 0
  width: 300px
  @include round-corners(12px, 0, 0, 0)
  @include enable-ie-css3

  p.title
    padding: 0 0 15px


// =====
// Pages
// =====


body#pages_show div#main
  ul li, ol li
    list-style-position: inside
    margin: $content-margin 30px
  ul li
    list-style-type: disc
  ol li
    list-style-type: decimal


// =====
// Posts
// =====


div.meta
  @include round-corners(4px, 4px, 4px, 4px)
  @include enable-ie-css3
