<div class="content">
  <div class="inner">
    <% semantic_form_for @list, :url => admin_project_to_do_lists_path(params[:project_id]), :html => {:method => :post} do |f| %>
      <%= render :partial => "admin/to_do_lists/form", :locals => {:f => f} %>
    <% end %>
  </div>
</div>
