<div class="content">
  <div class="inner">
    <% semantic_form_for @list, :url => admin_project_to_do_lists_path(params[:project_id]), :html => {:method => :post} do |f| %>
      <%= render :partial => "admin/to_do_lists/form", :locals => {:f => f} %>
      
      <% f.buttons do %>
        <%= f.commit_button :label => t("admin.to_do_list.new.create_button"),
                            :button_html => { :class => 'button positive' } %>
        <%= f.button_link   t("admin.to_do_list.new.cancel_button"), admin_project_to_do_lists_path(params[:project_id]),
                            :button_html => { :class => 'button negative' } %>
      <% end %>
    <% end %>
  </div>
</div>
