/*
  ###################################################################
  Regedor Project : main stylesheet
  Author          : miguelregedor[at]gmail[dot]com
  ###################################################################
*/


/* = Reset. http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%;
  font-family: inherit; vertical-align: baseline;
}
/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*
  ###################################################################
  Color Notes:
  ###################################################################
*/


/* = Typography
-------------------------------------------------- */
body                        { font-size: 62.5%; color: #111;}
body                        { font-family:Verdana,HelveticaNeue,Helvetica,Arial,sans-serif;}
a                           { text-decoration:none; color:#555;}
a:hover                     { color:#e22;}
h1                          { font-size:2.5em;}
h2                          { font-size:2.2em; margin-bottom:1em;}
h3                          { font-size:1.8em; margin-bottom:1em;}
h4                          { font-size:1.7em; margin-bottom:1em; color:#e22;}
h5                          { font-size:1.5em;}
#account-info               { font-size:1.26em;}
#account-info               { text-align:right; line-height:1em;}
#account-info .flags        { vertical-align:text-top;}
#navigation                 { font-size:1.5em; margin-bottom:1em;}
#navivation a               { text-decoration: none;}
#admin-navigation           { font-size:1.5em; margin-bottom: 1em;}
#admin-navigation a         { text-decoration: none;}
#content p                  { font-size:1.3em; text-align:justify;}
#content p                  { margin-bottom:1em; line-height:1.15em;}
#content table              { margin-bottom:1em;}
#footer                     { font-size:1.26em; text-align:left; line-height: 1.1em;}
#footer a                   { font-weight:bold; text-decoration:none;}
.flash_text                 { font-size:1.3em; text-align:center; padding:0.8em; margin-bottom: 1em;}
.flash_text.error           { color:#e22; border-top:1px dashed #fcc; border-bottom:1px dashed #fcc;}
.flash_text.error           { background: url(/images/Alert.png) no-repeat 100% 0;}
.flash_text.error .wrapper  { background: url(/images/Alert.png) no-repeat 0 0;}
.flash_text.notice          { color:#591; border-top:1px dashed #cd8; border-bottom:1px dashed #cd8;}
.flash_text.notice          { background: url(/images/Info.png) no-repeat 100% 0;}
.flash_wrapper { background: url(/images/Info.png) no-repeat 0 50%;}
.resource-list a            { text-decoration:none;}
.resource-list th           { font-size:1.6em; color:#e22;}             
.resource-list td           { font-size:1.3em;}         
.resource-list td.actions   { text-align:right;}
#about p                    { margin-bottom: 0.5em;}
#about h4                   { margin-top: 1em; margin-bottom:0.1em}


/* = General Structure
-------------------------------------------------- */
body                         { background:#fff; margin:0;  padding:0;}
#header                      { width:960px; margin:0 auto;}
#content                     { width:960px; margin:0 auto;}
#navigation                  { width:960px; margin:0 auto;}
#admin-navigation            { width:960px; margin:0 auto;}
#footer                      { width:960px; margin:0 auto;}
#account-info                { width:960px; margin:0 auto; height:1em;}
#account-info img            { margin: 0 3px -3px 0 !important ;}
#admin-navigation            { margin-bottom: 1em; }
#header                      { height: auto; border-bottom: #ddd solid 1px;margin-bottom: 1em; }
#site-logo                   { background: url(/images/bg_logo.png) no-repeat; }
#site-logo                   { text-indent: -6666px; height:86px; width:364px; margin-left:-4px; }
#navigation                  { margin-bottom: 1em; }
#content                     { border-bottom: #ddd solid 1px; }
#footer                      { height: 60px; padding-top: 1em; }
.form_with_notes             { width:70%; }
.form_side_notes             { width:27%; float:right; margin-left: 2%; }
.form_side_notes > .note     { border: #ddd solid 1px; padding-top: 14px; margin-bottom: 15px;}
.form_side_notes > .note > * { margin: 15px; margin-top:0; }
.form_side_notes .buttons a  { float:none; display:block; margin:0; }
.required_field_note         { margin-left:25%; margin-bottom:1em; }


/* = Resources List Structure
-------------------------------------------------- */
.resource-list table                { width: 100%; border-collapse: collapse;}
.resource-list tbody tr.odd         { background: #eee;}
.resource-list tbody tr:hover       { background: #ddd;}
.resource-list th                   { padding: 10px; text-align:left; }
.resource-list td                   { padding: 1em 10px; }
.show_link     { padding-left:16px;background: url(/images/icons/file.png) no-repeat; } 
.edit_link     { padding-left:16px;background: url(/images/icons/file_edit.png) no-repeat; } 
.warning_link  { padding-left:16px;background: url(/images/icons/file_warning.png) no-repeat; } 
.download_link { padding-left:18px;background: url(/images/icons/load_download.png) no-repeat; } 
.delete_link   { padding-left:16px;background: url(/images/icons/file_delete.png) no-repeat; } 
.add_link      { padding-left:16px;background: url(/images/icons/file_add.png) no-repeat; } 
.find_link     { padding-left:16px;background: url(/images/icons/file_search.png) no-repeat; } 

#admin-users-index .edit_link   { background: url(/images/icons/user_edit.png) no-repeat;   } 
#admin-users-index .delete_link { background: url(/images/icons/user_delete.png) no-repeat; } 
#admin-users-index .add_link    { background: url(/images/icons/user_add.png) no-repeat;    } 


/* = About Page Structur
------------------------------------------------- */
#development_video { width: 450px; float: right; }
#usage_video       { width: 450px; }
#user-invite       { width:50%; margin-right:16%; border-right: 1px solid #ccc; } 
#user-info         { float:right; width:33%; } 
#user-downloads    { margin-top:4em; padding-top: 1em; border-top: 1px solid #ccc }


/* Self-clearing floats and IE hacks */
.hidden           { display: none; }
.selfclear:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.selfclear        { display: inline-block; /* IE 7 */ }
.selfclear        { display: block; }
* html .selfclear { height: 1px; /* IE < 7 */ }
* html .resource-list tr.table-header { background: #000; /* IE < 7 */}
