# Project specific ignores
/site_files/images/announcements/*
/site_files/doc/implementation_guidelines/simon_wfreport.aux
/site_files/doc/implementation_guidelines/simon_wfreport.log
/site_files/doc/implementation_guidelines/simon_wfreport.nav
/site_files/doc/implementation_guidelines/simon_wfreport.out
/site_files/doc/implementation_guidelines/simon_wfreport.snm
/site_files/doc/implementation_guidelines/simon_wfreport.toc
/site_files/doc/implementation_guidelines/simon_wfreport.vrb

# Rails ignores
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/site_files/log/*
/site_files/tmp/*
/site_files/db/*.sqlite3
/site_files/.bundle
/site_files/vendor/bundle
/site_files/public/system/*
/site_files/coverage/
/site_files/spec/tmp/*
/site_files/config/database.yml
/site_files/db/schema.rb
/site_files/config/mailer.yml
**.orig
config/*.yml
rerun.txt

# Linux ignores
.*
*~
*.sw[a-p]
.directory

# Vim ignores
.*.sw[a-z]
*.un~

# OSX ignores
.DS_Store?
Icon?
._*
.Spotlight-V100
.Trashes

# TextMate ignores
*.tmproj
*.tmproject
tmtags

