// ============================================================================
// Rules
// ============================================================================


body
  background-color: $frontend-background-color
  overflow-x: hidden


h2.title, h3.archives-month-title
  margin: 0 0 $content-margin

  a:hover
    border-bottom: 3px solid $default-color


hr
  background-color: #DDD
  border: none
  clear: left
  height: 1px
  margin: $content-margin 0


div#header-top
  border-bottom: 1px solid #FFF
  height: 200px
  position: relative
  z-index: 2

  div.left-light-cream-bar
    background-color: #F3E7DD
    height: 200px
    position: absolute
    left: 0
    width: 20%
    z-index: 0

  div#building-top-left
    background-image: url("/stylesheets/themes/leftandright/images/building_top_left.png")
    border-right: 1px solid #FFF
    height: 200px
    position: absolute
    left: -55px
    width: 54px

  div#building-top-right
    background-image: url("/stylesheets/themes/leftandright/images/building_top_right.png")
    float: left
    height: 200px
    width: 622px

  div#right-brown-bar
    background-color: #4A3B2E
    border-right: 1px solid #FFF
    float: right
    height: 200px
    width: 337px

  div.right-light-brown-bar
    background-color: #6E6258
    height: 200px
    position: absolute
    right: 0
    width: 20%
    z-index: 0


div#header-bottom
  border-bottom: 1px solid #FFF
  height: 129px
  position: relative
  z-index: 2

  div.left-light-brown-bar
    background-color: #6E6258
    height: 129px
    position: absolute
    left: 0
    width: 20%
    z-index: 0

  div#building-bottom-left
    background-image: url("/stylesheets/themes/leftandright/images/building_bottom_left.png")
    border-right: 1px solid #FFF
    height: 129px
    position: absolute
    left: -55px
    width: 54px

  div#building-bottom-right
    background-image: url("/stylesheets/themes/leftandright/images/building_bottom_right.png")
    float: left
    height: 129px
    width: 622px

  div#right-cream-bar
    background-color: #F0E1D4
    border-right: 1px solid #FFF
    float: right
    height: 129px
    width: 337px

  div.right-light-cream-bar
    background-color: #F3E7DD
    height: 129px
    position: absolute
    right: 0
    width: 20%
    z-index: 0


div.secondary-wrapper
  margin: auto
  position: relative
  width: 960px
  z-index: 1


span.options
  float: right
  margin: 10px


div#logo
  background: url("/logo.png") no-repeat
  float: right
  height: 51px
  margin: 40px 50px
  width: 228px


div#navigation
  background-image: url("/stylesheets/themes/leftandright/images/menu.png")
  background-repeat: repeat-x
  border-bottom: 1px solid #FFF
  position: relative
  z-index: 1
  @include box-shadow(0, 0, 10px, #444)
  @include enable-ie-css3

  div.left-light-cream-bar
    background-color: #F3E7DD
    height: 36px
    left: 0
    position: absolute
    width: 20%
    z-index: 0

  div.right-light-brown-bar
    background-color: #6E6258
    height: 36px
    position: absolute
    right: 0
    width: 20%
    z-index: 0

  div#menu
    border-left: 1px solid #FFF
    border-right: 1px solid #FFF
    width: 959px
    margin: auto
    position: relative
    z-index: 1

    ul
      background-image: url("/stylesheets/themes/leftandright/images/menu.png")

    ul li
      display: inline

      a
        color: #F3E7DD
        display: inline-block
        background-image: url("/stylesheets/themes/leftandright/images/menu.png")
        border-right: 1px solid #6E6258
        height: 18px
        padding: 8px 20px 10px

      a:hover
        background-image: url("/stylesheets/themes/leftandright/images/menu.png")


div#primary-wrapper
  background-color: #F3E7DD
  border-left: 1px solid #FFF
  border-right: 1px solid #FFF
  margin: auto
  min-height: 400px
  padding: 30px 0 0
  position: relative
  width: 959px
  @include box-shadow(0, 0, 10px, #444)
  @include enable-ie-css3


div#content.single
  float: left
  margin: 0 30px 30px


div#content.double
  float: left
  width: 745px
  margin: 0 30px 30px


div.content-body
  margin: 0 10px


div#user-info, div#user-invite
  margin: $content-margin 10px


div#footer
  background-image: url("/stylesheets/themes/leftandright/images/footer.png")
  background-repeat: repeat-x
  padding: 20px

  a:hover
    border-bottom: 2px solid $default-color


div#flash
  background-image: url("/images/dark_transparency.png")
  border-top: 1px solid #222
  bottom: 0
  left: 0
  padding: 15px 0
  position: fixed
  width: 100%
  z-index: 1

  div.message
    margin: 0 0 0 30px

    p
      margin: 0 70px
      padding: 20px

  div.message.error
    background: url("/stylesheets/themes/atrevete/images/flash/error.png") no-repeat 0 50%

  div.message.warning
    background: url("/stylesheets/themes/atrevete/images/flash/warning.png") no-repeat 0 50%

  div.message.info, div.message.notice
    background: url("/stylesheets/themes/atrevete/images/flash/notice.png") no-repeat 0 50%


ul.list li
  margin: $content-margin 0


dl.list
  display: inline-block

  dd
    float: left
    padding: 1px 0
    margin: 5px 0

  dt
    clear: left
    color: #555
    float: left
    font-weight: bold
    padding: 0
    margin: 5px 0
    width: 150px


div#archives
  float: right
  margin: 10px

  a:hover
    border-bottom: 3px solid $default-color


ul.archives-month
  margin: 0 0 0 10px

  li
    margin: 0 0 5px

    a:hover
      border-bottom: 2px solid $default-color


// ==============
// Social buttons
// ==============


div.social-buttons
  float: right
  margin: 0 10px 10px

  div.addthis_toolbox
    display: inline


// =============
// Announcements
// =============


div#announcements
  overflow: hidden
  margin: 0 auto 20px
  position: relative
  width: 622px
  @include round-corners(2px, 2px, 2px, 2px)
  @include enable-ie-css3

  a
    display: block

  a:hover
    border: none


div.announcement-tail
  display: none


div#announcement-numbers
  background: url("/images/dark_transparency.png")
  bottom: 0
  cursor: default
  padding: 10px 10px 13px 13px
  position: absolute
  left: 0
  @include round-corners(0, 0, 2px, 0)
  @include enable-ie-css3

  a
    display: inline-block


div.announcement img
  height: 129px
  width: 622px


div.announcement-text
  background: url("/images/dark_transparency.png")
  bottom: 0
  padding: 14px 12px 12px 14px
  position: absolute
  right: 0
  width: 300px
  @include round-corners(2px, 0, 0, 0)
  @include enable-ie-css3

  p.title
    padding: 0 0 15px


// =====
// Posts
// =====


div.post
  margin: 0 0 30px


div.post-image
  float: left
  margin: 0 $content-margin 5px 0


div.meta
  background-color: #D7CEC7
  clear: both
  margin: 0 10px
  padding: 10px

  a:hover
    border-bottom: 2px solid $default-color


// ========
// Comments
// ========


div.avatar
  float: left
  margin-right: 20px

  img
    border: 1px solid #999


span.comment-meta
  clear: both
  display: block


div.new-comment
  padding: 0 $content-margin


ol#comment-list
  margin: 20px 0

  p
    padding: $content-margin 0 0 72px


// =======
// Buttons
// =======


button, a.button, input.button
  background-color: $button-gradient-end-color // graceful degrade for Opera
  border: 1px solid #AAA
  cursor: pointer
  float: left
  @include linear-gradient($button-gradient-start-color, $button-gradient-end-color)
  @include round-corners(4px, 4px, 4px, 4px)
  @include enable-ie-css3


button:active, a.button:active, input.button:active
  @include linear-gradient($button-gradient-end-color, $button-gradient-start-color)
  @include enable-ie-css3


a.button
  padding: 6px 10px


input.button
  padding: 5px 10px !important


button
  padding: 5px 10px


ul.buttons
  margin: $content-margin 0

  a
    margin: 0 10px 0 0


*:first-child + html input[type]
  padding: 2px 10px 3px
  // IE7


a.google_ico, a.yahoo_ico
  margin: 0 0 $content-margin 0
  width: 90%


// Self-clearing floats and IE hacks

.selfclear
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  display: inline-block // IE 7
  display: block
