/* line 1, ../../../../app/themes/sass/themes/redsign/frontend-icons.sass */
.male {
  background: url("/images/icons/male.png") no-repeat 0 50%;
  padding-left: 20px;
}

/* line 6, ../../../../app/themes/sass/themes/redsign/frontend-icons.sass */
.female {
  background: url("/images/icons/female.png") no-repeat 0 50%;
  padding-left: 20px;
}

/* line 11, ../../../../app/themes/sass/themes/redsign/frontend-icons.sass */
div#tags a {
  background: url("/images/icons/tag_delete.png") no-repeat 0 50%;
  padding: 0 10px 0 20px;
}

/* line 16, ../../../../app/themes/sass/themes/redsign/frontend-icons.sass */
fieldset.buttons li a.google_ico {
  background: #f5f5f5 url("/images/google.png") no-repeat 5px 5px !important;
}

/* line 20, ../../../../app/themes/sass/themes/redsign/frontend-icons.sass */
fieldset.buttons li a.yahoo_ico {
  background: #f5f5f5 url("/images/yahoo.png") no-repeat 5px 5px !important;
}
