/* line 3, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body a {
  border-bottom: 2px solid #e11111;
}
/* line 6, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body p {
  font-size: 13px;
  margin: 0 0 15px;
  text-align: justify;
}
/* line 11, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body p.inline-errors {
  font-size: 10px;
}
/* line 14, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table {
  font-size: 13px;
  line-height: 25px;
  border-collapse: collapse;
  width: 100%;
}
/* line 20, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table td {
  border-bottom: 1px solid #dddddd;
  padding: 5px 0;
  margin: 0 10px;
}
/* line 25, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table th {
  background-color: #e11111;
  border-bottom: solid 1px #dddddd;
  font-weight: bold;
  padding: 5px 0;
  margin: 0 10px;
  color: white;
  text-shadow: 0 1px 0 black;
}
/* line 34, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table tr:first-child {
  border-top: 1px solid #dddddd;
}
/* line 37, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body strong {
  font-weight: bold;
}
/* line 40, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body cite, div.textile-body em {
  font-style: italic;
}
/* line 43, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ul {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 47, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ol {
  list-style-type: decimal;
  list-style-position: inside;
}
/* line 51, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body li {
  margin: 10px 30px;
}
/* line 54, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body pre, div.textile-body code, div.textile-body tt {
  font-family: "lucida console", Monospace;
}

/* line 34, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
body {
  background-color: #302f2d;
  overflow-x: hidden;
}

/* line 39, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
h2 {
  margin: 0 0 15px;
}
/* line 42, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
h2 a:hover {
  border-bottom: 3px solid #e11111;
}

/* line 46, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
h3, h4, h5 {
  margin: 0 0 10px;
}

/* line 50, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
hr {
  background-color: #dddddd;
  border: none;
  clear: left;
  height: 1px;
  margin: 15px 0;
}

/* line 58, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#panel {
  background-image: url("/stylesheets/themes/redsign/images/metal-frame.png");
  background-repeat: no-repeat;
  height: 290px;
  margin: 25px auto;
  width: 770px;
}

/* line 66, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#account-info {
  background-color: white;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 1;
  -moz-box-shadow: 0 0 10px #222222;
  -webkit-box-shadow: 0 0 10px #222222;
  box-shadow: 0 0 10px #222222;
  behavior: url("/stylesheets/pie.htc");
}
/* line 75, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#account-info span.title {
  float: left;
  margin: 6px 15px 8px;
}
/* line 79, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#account-info span.options {
  float: right;
  margin: 6px 15px 8px;
}
/* line 83, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#account-info span.options a:hover {
  border-bottom: 2px solid #e11111;
}

/* line 87, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#top-gradient {
  background-color: #bb0000;
  background-image: url("/stylesheets/themes/redsign/images/topbar.png");
  background-repeat: repeat-x;
  height: 100px;
  width: 100%;
}

/* line 95, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#menu {
  background-color: #bb0000;
  background-image: url("/stylesheets/themes/redsign/images/menu.png");
  background-repeat: repeat-x;
  height: 40px;
  position: relative;
  width: 100%;
  -moz-box-shadow: 0 0 10px #222222;
  -webkit-box-shadow: 0 0 10px #222222;
  box-shadow: 0 0 10px #222222;
  behavior: url("/stylesheets/pie.htc");
}

/* line 106, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#navigation-nojs ul {
  position: relative;
  left: 130px;
  top: 12px;
}
/* line 111, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#navigation-nojs ul li {
  display: inline;
}
/* line 114, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#navigation-nojs ul li a {
  border: none;
  color: white;
  padding: 12px 25px 14px;
}
/* line 119, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#navigation-nojs ul li a:hover {
  background-color: #a00000;
}

/* line 123, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#tag-cloud {
  background-color: #ffe9e9;
  margin: 0 25px 20px 780px;
  min-height: 100px;
  padding: 10px 20px;
  position: relative;
  top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 134, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#tag-search-bar {
  margin: 0 0 15px;
}
/* line 137, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#tag-search-bar div#tags {
  margin: 10px;
}

/* line 141, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.entrybody {
  margin: 0 10px;
}

/* line 145, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#content.single {
  float: left;
  width: 96%;
  margin: 20px 20px 30px;
}

/* line 151, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#content.double {
  float: left;
  width: 745px;
  margin: 20px 20px 30px;
}

/* line 157, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#main {
  background-color: white;
  border-left: 3px solid #111111;
  border-right: 3px solid #111111;
  border-bottom: 3px solid #111111;
  margin: auto;
  width: 1000px;
}

/* line 166, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#user-info, div#user-invite {
  margin: 15px 10px;
}

/* line 170, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#footer {
  margin: 25px;
}
/* line 173, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#footer a:hover {
  border-bottom: 2px solid #e11111;
}

/* line 177, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#flash {
  background-image: url("/images/dark_transparency.png");
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
/* line 186, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#flash div.message p {
  margin: 0 100px;
  padding: 20px;
}
/* line 190, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#flash div.message.error {
  background: url("/stylesheets/themes/nemum/images/flash/error.png") no-repeat 0 50%;
}
/* line 193, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#flash div.message.warning {
  background: url("/stylesheets/themes/nemum/images/flash/warning.png") no-repeat 0 50%;
}
/* line 196, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#flash div.message.info, div#flash div.message.notice {
  background: url("/stylesheets/themes/nemum/images/flash/notice.png") no-repeat 0 50%;
}

/* line 200, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#archives {
  float: right;
  margin: 10px;
}
/* line 204, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#archives a:hover {
  border-bottom: 3px solid #e11111;
}

/* line 213, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#social-buttons {
  margin: 0 10px 5px;
  clear: both;
}
/* line 217, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#social-buttons iframe {
  vertical-align: bottom;
}
/* line 220, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#social-buttons a span {
  border: 1px solid #5f78ab;
  border-bottom: 1px solid #29447e;
}

/* line 230, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#announcements {
  overflow: hidden;
  position: relative;
  left: 20px;
  top: 20px;
  width: 730px;
}
/* line 237, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div#announcements a:hover {
  border: none;
}

/* line 241, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.announcement-tail {
  display: none;
}

/* line 245, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.announcements-bar {
  background: url("/images/dark_transparency.png");
  cursor: default;
  padding: 12px;
  position: absolute;
  right: 0;
}

/* line 253, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.announcement-block img {
  height: 250px;
  width: 730px;
}

/* line 258, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.announcement-text {
  background: url("/images/dark_transparency.png");
  bottom: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 266, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.announcement-text p.title {
  padding: 0 0 15px;
}

/* line 275, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.post {
  margin: 0 0 30px;
}

/* line 279, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.post-image {
  float: left;
  margin: 0 15px 5px 0;
}

/* line 284, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.meta {
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 291, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.meta a:hover {
  border-bottom: 2px solid #e11111;
}

/* line 300, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.avatar {
  float: left;
  margin-right: 20px;
}
/* line 304, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.avatar img {
  border: 1px solid #999999;
}

/* line 308, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
span.comment-meta {
  clear: both;
  display: block;
}

/* line 313, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
div.new-comment {
  padding: 0 15px;
}

/* line 317, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
ol.comment-list {
  margin: 20px 0;
}
/* line 320, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
ol.comment-list p {
  padding: 15px 0 0;
}

/* line 329, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
button, a.button, input.button {
  background-color: #e9e9e9;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#e9e9e9)";
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 339, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
button:active, a.button:active, input.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f9f9f9));
  background: -moz-linear-gradient(top, #e9e9e9, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#f9f9f9)";
  behavior: url("/stylesheets/pie.htc");
}

/* line 344, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
a.button {
  padding: 6px 10px;
}

/* line 348, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
input.button {
  padding: 5px 10px !important;
}

/* line 352, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
button {
  padding: 5px 10px;
}

/* line 356, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
*:first-child + html input[type] {
  padding: 2px 10px 3px;
}

/* line 361, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
a.google_ico, a.yahoo_ico {
  margin: 0 0 15px 0;
  width: 90%;
}

/* line 368, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
.selfclear {
  display: inline-block;
  display: block;
}
/* line 369, ../../../../app/themes/sass/themes/redsign/frontend-structure.sass */
.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
