/* line 25, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
body {
  color: #2e2e2e;
  font: 12px Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif;
}

/* line 30, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
a, a:active, a:link, a:visited {
  color: #2e2e2e;
  text-decoration: none;
}

/* line 35, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
a:hover {
  color: #555555;
}

/* line 39, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
h1 {
  font-size: 28px;
}

/* line 43, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
h2 {
  font-size: 24px;
}

/* line 47, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
h3 {
  font-size: 20px;
}

/* line 51, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
h4 {
  font-size: 16px;
}

/* line 55, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
h5 {
  font-size: 14px;
}

/* line 59, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#account-info span.title {
  font-weight: bold;
}

/* line 63, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div.announcement-text {
  color: white;
  text-align: justify;
}

/* line 68, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div.announcement-text p.title {
  font-size: 14px;
  font-weight: bold;
}

/* line 73, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div.announcements-bar {
  color: white;
  text-align: justify;
}
/* line 77, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div.announcements-bar a, div.announcements-bar span {
  color: white;
  text-align: justify;
}
/* line 81, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div.announcements-bar a:hover, div.announcements-bar span:hover {
  color: #e11111;
}

/* line 85, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#menu {
  -moz-text-shadow: 0 1px 0 black;
  -webkit-text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  behavior: url("/stylesheets/pie.htc");
}

/* line 90, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#navigation-nojs ul li a {
  font-weight: bold;
}

/* line 96, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a:hover {
  border-bottom: 2px solid #e11111;
}
/* line 99, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a.nube1 {
  font-size: 10px;
}
/* line 102, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a.nube2 {
  font-size: 12px;
}
/* line 105, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a.nube3 {
  font-size: 14px;
}
/* line 108, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a.nube4 {
  font-size: 16px;
}
/* line 111, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a.nube5 {
  font-size: 18px;
}
/* line 114, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a.nube6 {
  font-size: 20px;
}
/* line 117, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-cloud a.selected {
  font-weight: bold;
}

/* line 121, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-search-bar {
  font-size: 14px;
}
/* line 124, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-search-bar span#tagged-with {
  font-size: 16px;
}
/* line 127, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#tag-search-bar span#clear-link {
  font-size: 12px;
}

/* line 131, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div.meta li {
  line-height: 18px;
}

/* line 135, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#flash div.message p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* line 141, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#archives {
  font-size: 14px;
}

/* line 145, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#footer {
  color: white;
  text-align: center;
}
/* line 149, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#footer a {
  color: #e11111;
  font-weight: bold;
}

/* line 159, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
ol.comment-list a.author {
  font-weight: bold;
}

/* line 162, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
ol.comment-list span.comment-meta {
  text-align: right;
}

/* line 171, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
div#social-buttons {
  text-align: right;
}

/* line 180, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
button, a.button {
  text-decoration: none;
}

/* line 184, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
button, input.button {
  line-height: 16px;
}

/* line 188, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
button, a.button, input.button {
  color: #2e2e2e;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center !important;
}

/* line 195, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
button.positive:hover, a.positive:hover, input.positive:hover {
  color: #559911;
}

/* line 199, ../../../../app/themes/sass/themes/redsign/frontend-typography.sass */
button.negative:hover, a.negative:hover, input.negative:hover {
  color: #dd3322;
}
