<style>
.error_404{margin-bottom: 100px; padding-top:50px;}
.error_404 .message{font-size:28px;}
.error_404 p#first-line{width:714px; margin-left:auto; margin-right:auto;}
.error_404 p#second-line{width:789px; margin-left:auto; margin-right:auto;}
</style>

<div class="error_404">
  <span class="message">
	<p id="first-line">Oh noes, you've reached a page that has nothing!</p> 
	<p id="second-line">Please make sure that you typed the address correctly.</p>
  </span>
</div>