<div class="block">
  <h3>Simon is amazing</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <ul class="navigation">
    <li><%= link_to t("admin.dashboard.sidebar.go_to_frontend"), '/' %></li>
  </ul>
</div>

<div class="block">
  <h3>User management</h3>
  <ul class="navigation">
    <li><%= link_to "Manage user accounts", admin_users_url %></li>
    <li><%= link_to "Manage groupss", admin_groups_url %></li>
  </ul>
</div>

<div class="block">
  <h3>Simon Settings</h3>
  <ul class="navigation">
    <li><%= link_to "Manage #{configatron.site_name} settings", admin_settings_url %></li>
  </ul>
</div>
