<% content_for :header do -%> <%= configatron.site_name %> Administrations <% end -%>

<div class="block">
  <div class="content">
    <div class="inner">
      <h2 class="title"><%= t("web-app-theme.all", :default => "Dashboard") %></h2>

      <p><%= I18n::t("admin.dashboard.text") %></p>
    </div>
  </div>
</div>

