<!-- If a sidebar file exists in the views/controller folder it is rendered, otherwise it does not -->

<div class="content">
  <div class="inner">
    <h2>Are you sure you want to delete?</h2>
    <% semantic_form_for :record, @record,
                         :url => admin_user_path(@record),
                         :html => { :method => :delete } do |form| -%>
      <% form.buttons do -%>
        <%= form.button_link I18n::t('admin.users.form.update_button'),
                             :button_html => { :class => 'button positive' } %>
        <%= form.button_link I18n::t('admin.users.form.cancel_button'), @record,
                             :button_html => { :class => 'button negative' } %>
      <% end -%>
    <% end -%>
  </div>
</div>
