<!-- If a sidebar file exists in the views/controller folder it is rendered, otherwise it does not -->

<div class="content">
  <div class="inner">
    <h2>Are you sure you want to delete?</h2>
    <% semantic_form_for :record, @record,
                         :url => (@record.class.to_s.match("Event")) ? send("admin_event_#{@record.class.to_s.underscore.downcase}_path",@record.event) : send("admin_#{@record.class.to_s.underscore.downcase}_path",@record),
                         :html => { :method => :delete } do |form| -%>
      <% form.buttons do -%>
        <%= form.commit_button I18n::t('admin.users.form.yes_button'),
                               :button_html => { :class => 'button positive' } %>
        <%= form.button_link I18n::t('admin.users.form.no_button'), (@record.class.to_s.match("Event")) ? send("admin_event_#{@record.class.to_s.pluralize.underscore.downcase}_path") : send("admin_#{@record.class.to_s.pluralize.underscore.downcase}_path"),
                             :button_html => { :class => 'button negative' } %>
      <% end -%>
    <% end -%>
  </div>
</div>
