<!-- If a sidebar file exists in the views/controller folder it is rendered, otherwise it does not -->

<% if File.exists?(Rails.root.join("app", "views", params[:controller], "_edit_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'edit_sidebar'  %>
  <% end -%>
<% elsif File.exists?(Rails.root.join("app", "views", params[:controller], "_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'sidebar'  %>
  <% end -%>
<% end -%>
<div class="content">
  <div class="inner">
    <%= render :super %>
  </div>
</div>

