<div class="block">

<%= javascript_include_tag 'checkboxes' %>
<% if File.exists?(Rails.root.join("app", "views", params[:controller], "_sidebar.html.erb")) %>
<% content_for :sidebar do -%>
	<%= render :partial => 'sidebar'  %>
<% end -%>
<% end -%>
  <div class="content">
    <div class="inner">
      <%= render :super %>
    </div>
  </div>
</div>

