<!-- If a sidebar file exists in the views/controller folder it is rendered, otherwise it does not -->

<% content_for(:head) do -%>
  <%= javascript_include_tag 'list_actions' %>
<% end -%>
<div class="content">
  <div class="inner">
    <%= render :super %>
  </div>
</div>
