<div class="block">
<% if true %>
<% content_for :sidebar do -%>
	<%= render :partial => 'sidebar' %>
<% end -%>
<% end -%>
  <div class="content">
    <div class="inner">
      <%= render :super %>
    </div>
  </div>
</div>

