/* line 16, ../../../../app/stylesheets/themes/new/backend-typography.sass */
body {
  color: #2e2e2e;
  font: 12px Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif;
}

/* line 21, ../../../../app/stylesheets/themes/new/backend-typography.sass */
a, a:active, a:link, a:visited {
  color: #2e2e2e;
  text-decoration: none;
}

/* line 26, ../../../../app/stylesheets/themes/new/backend-typography.sass */
a:hover {
  color: #555555;
}

/* line 30, ../../../../app/stylesheets/themes/new/backend-typography.sass */
h1 {
  font-size: 28px;
}

/* line 34, ../../../../app/stylesheets/themes/new/backend-typography.sass */
h2 {
  font-size: 24px;
}

/* line 38, ../../../../app/stylesheets/themes/new/backend-typography.sass */
h3 {
  font-size: 20px;
}

/* line 42, ../../../../app/stylesheets/themes/new/backend-typography.sass */
h4 {
  font-size: 16px;
}

/* line 46, ../../../../app/stylesheets/themes/new/backend-typography.sass */
h5 {
  font-size: 14px;
}

/* line 50, ../../../../app/stylesheets/themes/new/backend-typography.sass */
p {
  text-align: justify;
}

/* line 56, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#main-navigation ul li a {
  display: block;
  font-size: 14px;
}
/* line 60, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#main-navigation ul li a:hover {
  color: #555555;
}

/* line 64, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#user-navigation a {
  color: white;
}

/* line 68, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#sidebar {
  font-size: 12px;
}
/* line 71, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#sidebar h5 {
  color: #444444;
  border-bottom: 1px solid #aaaaaa;
}

/* line 76, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div.meta li {
  line-height: 18px;
}

/* line 80, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div.secondary-navigation ul li.active {
  background: white;
}

/* line 86, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#preview table {
  font-size: 13px;
  line-height: 25px;
}

/* line 91, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#footer div.block p, div#flash div.message p {
  text-align: center;
}

/* line 95, ../../../../app/stylesheets/themes/new/backend-typography.sass */
div#social-buttons {
  text-align: right;
}

/* line 104, ../../../../app/stylesheets/themes/new/backend-typography.sass */
button, a.button {
  text-decoration: none;
}

/* line 108, ../../../../app/stylesheets/themes/new/backend-typography.sass */
button, input.button {
  line-height: 16px;
}

/* line 112, ../../../../app/stylesheets/themes/new/backend-typography.sass */
button, a.button, input.button {
  color: #2e2e2e;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center !important;
}

/* line 119, ../../../../app/stylesheets/themes/new/backend-typography.sass */
button.positive:hover, a.positive:hover, input.positive:hover {
  color: #559911;
}

/* line 123, ../../../../app/stylesheets/themes/new/backend-typography.sass */
button.negative:hover, a.negative:hover, input.negative:hover {
  color: #dd3322;
}
