<ul id="association">
  <% @association.attributes.each do |name, value| %>
    <% if value.present? and not name.end_with? "id" %>
      <li>
        <span class="label"><%= t("associations.show.#{name}") %></span>
        <span id="<%= name %>" class="value"><%= value %></span>
      </li>
    <% end %>
  <% end %>
</ul>
