<p class="preview-title"><%= I18n::t('admin.posts.preview.title') %></p>
<div class="content">
  <%= render :partial => 'posts/post', :locals => {:post => @post} %>
  <p class="preview-return"><%= I18n::t('admin.posts.preview.return') %></p>
</div>
