<div class="content">
  <h2><%= I18n::t('admin.posts.form.show') %></h2>
  <div class="content">
    <%= render :partial => 'posts/post', :locals => { :post => @record } %>
    <ul class="buttons">
      <li class="commit">
        <%= link_to t('admin.posts.form.close_button'), admin_posts_path, :class => 'button negative' %>
      </li>
    </ul>
  </div>
</div>
