<ul>
	<li><%= link_to "Manage Users", :controller => 'usermanagement', :action => 'index', :id => 1 %></li>
	<li><%= link_to "Manage Groups", :controller => 'usermanagement', :action => 'index', :id => 0 %></li>
</ul>
