#wrapper #main #preview .content {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #EEEEEE;
}

#wrapper #main #preview .content h2 {
  padding-top: 5px;
  margin-top: 0px;
}

#wrapper #main #preview .content .meta ul {
  padding-left: 30px;
}
