// ============================================================================
// Rules
// ============================================================================


body
  background-color: $frontend-background-color


div#tag-cloud h2.title
  padding: 10px 0 0


h2.title, h3.archives-month-title 
  margin: 0 0 $content-margin

  a:hover
    border-bottom: 3px solid $default-color


hr
  background-color: #DDD
  border: none
  clear: left
  height: 1px
  margin: $content-margin 0


div#container
  margin: auto
  width: 960px


div#wrapper
  margin: 0 0 0 200px


div#navigation
  background-color: #555
  clear: left
  float: left
  padding: 12px 13px 12px
  width: 175px
  @include round-corners(12px, 0, 0, 12px)
  @include enable-ie-css3

  li
    margin: 5px

  a:hover
    border: none


div#navigation div#tag-cloud
  background: url("/stylesheets/themes/nemum/images/line.png") no-repeat top right
  margin: 10px 5px 5px 0


div#tag-search-bar
  margin: 0 0 $content-margin

  div#tags
    margin: 10px


div#logo
  float: left
  height: 120px
  margin: 100px 0 80px


div#header
  background-color: #FFF
  overflow: hidden
  padding: 5px $content-margin 8px
  position: relative
  z-index: 1
  @include round-corners(0, 0, 12px, 12px)
  @include box-shadow(0, 0, 15px, #333)
  @include enable-ie-css3

  span.options
    float: right

    a:hover
      border-bottom: 2px solid $default-color


div#main
  background-color: #FFF
  padding: 20px
  position: relative
  z-index: 1
  @include round-corners(12px, 12px, 12px, 12px)
  @include box-shadow(0, 0, 15px, #333)
  @include enable-ie-css3


div.content-body
  margin: 0 10px


div#user-info, div#user-invite
  margin: 15px 10px


div#footer
  margin: 25px

  a:hover
    border-bottom: 2px solid $default-color


div#flash
  background-image: url("/images/dark_transparency.png")
  border-top: 1px solid #000
  bottom: 0
  left: 0
  padding: 15px 0
  position: fixed
  width: 100%

  div.message
    margin: 0 0 0 30px

    p
      margin: 0 70px
      padding: 20px

  div.message.error
    background: url("/stylesheets/themes/nemum/images/flash/error.png") no-repeat 0 50%

  div.message.warning
    background: url("/stylesheets/themes/nemum/images/flash/warning.png") no-repeat 0 50%

  div.message.info, div.message.notice
    background: url("/stylesheets/themes/nemum/images/flash/notice.png") no-repeat 0 50%


// =============
// Announcements
// =============


div#announcements
  border-left: 2px solid #444
  border-right: 2px solid #444
  margin: 0 $content-margin
  overflow: hidden
  position: relative

  a
    display: block
  
  a:hover
    border: none


div.announcement-tail
  display: none


div#announcement-numbers
  background: url("/images/dark_transparency.png")
  cursor: default
  padding: 12px
  position: absolute
  @include round-corners(0, 0, 12px, 0)
  @include enable-ie-css3

  a
    display: inline-block


div.announcement-block img
  height: 250px
  width: 730px


div.announcement-text
  background: url("/images/dark_transparency.png")
  bottom: 0
  padding: 14px 12px 12px 14px
  position: absolute
  right: 0
  width: 300px
  @include round-corners(12px, 0, 0, 0)
  @include enable-ie-css3

  p.title
    padding: 0 0 15px


// =====
// Pages
// =====


body#pages_show div#main
  ul li, ol li
    list-style-position: inside
    margin: $content-margin 30px
  ul li
    list-style-type: disc
  ol li
    list-style-type: decimal
