<% content_for :page_title, h(I18n::t('user_password_resets.new.title')) %>

<h2 class="title"><%= I18n::t('user_password_resets.new.title') %></h2>

<%= render :partial => 'shared/form_side_notes' %>

<div class="form_with_notes">
  <% semantic_form_for 'user_password_reset', :url => user_password_reset_url do |f| %>
    <% f.inputs :name => t('user_password_resets.new.form_inputs_name') do %>
      <%= f.input :email, :label => I18n::t('user_password_resets.new.email') %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button I18n::t('user_password_resets.new.commit_button'),
                          :button_html => { :class => 'button positive' } %>  
    <% end %>
  <% end %>
</div>
