<% content_for :page_title, h(t('user_password_resets.new.title')) %>

<h2 class="title"><%= t('user_password_resets.new.title') %></h2>

<% semantic_form_for 'user_password_reset', :url => user_password_reset_url do |f| %>
  <% f.inputs :name => t('user_password_resets.new.form_inputs_name') do %>
    <%= f.input :email, :label => t('user_password_resets.new.email') %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button t('user_password_resets.new.commit_button'),
                        :button_html => { :class => 'button positive' } %>  
  <% end %>
<% end %>
