<div class="block">
  <div id="sidebar_head">
    <h5><%= t("admin.user_optional_group_picks.sidebar.title") %></h5>
  </div>
  <div class="content">
    <p><%= t("admin.user_optional_group_picks.sidebar.paragraph") %></p>
    <ul class="navigation"> 
      <li><%= link_to t("admin.user_optional_group_picks.sidebar.link"), admin_groups_path %></li> 
   </ul> 
  </div>
</div>
