<div id="clocks" class="block">
  <div class="clock">
    <span class="location">Portugal</span>

    <canvas class="CoolClock:parisPortugues:40:noSeconds:0" width="60" height="60"></canvas>
  </div>
  <div class="clock">
    <span class="location">Paris</span>

    <canvas class="CoolClock:parisPortugues:40:noSeconds:+1" width="60" height="60"></canvas>
  </div>
</div>
