<div id="clocks" class="block">
  <div class="clock">
    <span class="location">Portugal</span>

    <span id="portugal-clock"></span>
  </div>
  <div class="clock">
    <span class="location">França</span>

    <span id="france-clock"></span>
  </div>
</div>
