<div id="clocks" class="block">
  <div id="clock-lisbon">
    <canvas id="clock-libon-cv" class="CoolClock:parisPortugues:40:noSeconds:0" width="60" height="60"></canvas>
  </div>
  <div id="clock-paris">
    <canvas id="clock-paris-cv" class="CoolClock:parisPortugues:40:noSeconds:+1" width="60" height="60"></canvas>
  </div>
</div>
