<div id="clocks" class="block">
  <div class="clock">
    <span class="location">Portugal</span>

    <ul>
      <li class="portugal-hours"></li>
      <li class="point">:</li>
      <li class="min"></li>
      <li class="point">:</li>
      <li class="sec"></li>
    </ul>
  </div>
  <div class="clock">
    <span class="location">França</span>

    <ul>
      <li class="france-hours"></li>
      <li class="point">:</li>
      <li class="min"></li>
      <li class="point">:</li>
      <li class="sec"></li>
    </ul>
  </div>
</div>
