<div id="clocks" class="block">
  <h2 class="title"><%= t('clocks.title') %></h2>

  <div id="clock-lisbon">
    <canvas id="clock-libon-cv" class="CoolClock:parisPortugues:40:noSeconds:0" width="60" height="60"></canvas>
    <span><%= t('clocks.lisbon') %></span>
  </div>
  <div id="clock-paris">
    <canvas id="clock-paris-cv" class="CoolClock:parisPortugues:40:noSeconds:+1" width="60" height="60"></canvas>
    <span><%= t('clocks.paris') %></span>
  </div>
</div>
