<div id="recipes-of-the-day">
  <div id="starter" class="block">
    <%= recipe_for_today :entrada %>
  </div>
  
  <div id="main-course" class="block">
    <%= recipe_for_today :prato_principal %>
  </div>
  
  <div id="dessert" class="block">
    <%= recipe_for_today :sobremesa %>
  </div>
</div>