<div id="gallery-widget" class="block">
  <h2 class="title">Galeria</h2>

  <% if Album.count == 0 %>
    <p>Sem imagens.</p>
  <% else %>
    <a href="<%= albums_path %>"><img class="thumb" src="<%= Album.random.images.random.multi_purpose_image.url(:small)%>"></a>
  <% end %>
</div>
