<div id="recipes-of-the-day" class="block">
  <h2 class="title"><%= t 'widgets.recipes_of_the_day.title' %></h2>

  <%= recipe_of_the_day :entrada %>
  <%= recipe_of_the_day :prato_principal %>
  <%= recipe_of_the_day :sobremesa %>
</div>
