<div id="tag-search-bar">
  <span id="tagged-with"><%= t('posts.tags.tagged_with') %></span>
  <span id="clear-link">(<%= link_to t('posts.tags.clear_selection'), posts_path %>)</span>
  <div id="tags"><%= (tags.map do |tag| link_to tag, posts_path(:tags => tags, :this_tag => tag) end).join %></div>
</div>
