<h2>Concepts</h2>
<div>
  <p>
    Peer-to-peer is an architectural distribution of systems that is characterized 
    by the decentralization of the net functions where each individual system acts 
    simultaneously as a server and a client. A Peer-to-Peer system allows sharing 
    of information between several users. Due to the decentralization each user 
    directly sends and receives the information he needs. A Peer-to-Peer system for 
    closed communities allows the assortment of groups of users that share the 
    information in between themselves blocking outside access.
    This concept is, without a doubt, very advantageous in the exchange and 
    sharing of information. However, it needs to obey to several rules and 
    norms to be safe and efficient.
  </p>
  <p>
    Cryptography emerges in this context as the science that enables the communication 
    between the users of the Peer-to-Peer to be safe, or at least, it makes the 
    outside access to that communication extremely difficult. It also guarantees 
    certain requisites that are needed for the proper running of the system. There 
    are several techniques that protect the information and that make sure these 
    requisites are fulfilled.   
  </p>
  <p>
    The main aim of this project, wich is beeing done in the Criphtography Masters, 
    is to create a Peer-to-peer system as described above, and to use criphography 
    techniques as away to make it secure.
  </p>

</div>
