/* line 16, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
body {
  color: #2e2e2e;
  font: 12px Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif;
}

/* line 21, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
a, a:active, a:link, a:visited {
  color: #2e2e2e;
  text-decoration: none;
}

/* line 26, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
a:hover {
  color: #555555;
}

/* line 30, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
h2 {
  font-size: 24px;
}

/* line 34, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
h5 {
  font-size: 14px;
}

/* line 38, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
p {
  text-align: justify;
}

/* line 44, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#main-navigation ul li a {
  display: block;
  font-size: 14px;
  padding: 8px 15px;
}
/* line 49, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#main-navigation ul li a:hover {
  color: #555555;
}

/* line 53, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#user-navigation a {
  color: white;
}

/* line 57, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#sidebar {
  font-size: 12px;
}
/* line 60, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#sidebar h5 {
  color: #444444;
  padding: 0 0 5px;
  border-bottom: 1px solid #aaaaaa;
}

/* line 66, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div.meta li {
  line-height: 18px;
}

/* line 70, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div.secondary-navigation ul li.active {
  background: white;
}

/* line 76, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#preview table {
  font-size: 13px;
  line-height: 25px;
}

/* line 81, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#footer div.block p, div#flash div.message p {
  text-align: center;
}

/* line 85, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
div#social-buttons {
  text-align: right;
}

/* line 94, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
button, a.button {
  text-decoration: none;
}

/* line 98, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
button, input.button {
  line-height: 16px;
}

/* line 102, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
button, a.button, input.button {
  color: #2e2e2e;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center !important;
}

/* line 109, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
button.positive:hover, a.positive:hover, input.positive:hover {
  color: #559911;
}

/* line 113, ../../../../app/stylesheets/themes/boxyframe/backend-typography.sass */
button.negative:hover, a.negative:hover, input.negative:hover {
  color: #dd3322;
}
