/* line 20, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
body {
  color: #2e2e2e;
  font: 12px Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif;
}

/* line 25, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
a, a:active, a:link, a:visited {
  color: #2e2e2e;
  text-decoration: none;
}

/* line 30, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
a:hover {
  color: #555555;
}

/* line 34, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
h1 {
  font-size: 28px;
}

/* line 38, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
h2 {
  font-size: 24px;
}

/* line 42, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
h3 {
  font-size: 20px;
}

/* line 46, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
h4 {
  font-size: 16px;
}

/* line 50, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
h5 {
  font-size: 14px;
}

/* line 54, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#account-info span.title {
  font-weight: bold;
}

/* line 58, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div.announcement-text {
  color: white;
  text-align: justify;
}

/* line 63, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div.announcement-text p.title {
  font-size: 14px;
  font-weight: bold;
}

/* line 68, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div.announcements-bar {
  color: white;
  text-align: justify;
}
/* line 72, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div.announcements-bar a, div.announcements-bar span {
  color: white;
  text-align: justify;
}
/* line 76, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div.announcements-bar a:hover, div.announcements-bar span:hover {
  color: #6683a2;
}

/* line 81, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#main p {
  font-size: 13px;
  text-align: justify;
}
/* line 85, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#main p.inline-errors {
  font-size: 10px;
}
/* line 88, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#main table {
  font-size: 13px;
  line-height: 25px;
}
/* line 92, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#main th {
  font-size: 14px;
}

/* line 96, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#menu {
  -moz-text-shadow: 0 1px 0 black;
  -webkit-text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  behavior: url("/stylesheets/pie.htc");
}

/* line 101, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#navigation-nojs ul {
  font-weight: bold;
}

/* line 107, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a:hover {
  border-bottom: 2px solid #6683a2;
}
/* line 110, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a.nube1 {
  font-size: 10px;
}
/* line 113, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a.nube2 {
  font-size: 12px;
}
/* line 116, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a.nube3 {
  font-size: 14px;
}
/* line 119, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a.nube4 {
  font-size: 16px;
}
/* line 122, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a.nube5 {
  font-size: 18px;
}
/* line 125, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a.nube6 {
  font-size: 20px;
}
/* line 128, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-cloud a.selected {
  font-weight: bold;
}

/* line 132, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-search-bar {
  font-size: 14px;
}
/* line 135, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-search-bar span#tagged-with {
  font-size: 16px;
}
/* line 138, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#tag-search-bar span#clear-link {
  font-size: 12px;
}

/* line 142, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div.meta li {
  line-height: 18px;
}

/* line 146, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#flash div.message p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* line 152, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#archives {
  font-size: 14px;
}

/* line 156, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#footer {
  color: white;
  text-align: center;
}
/* line 160, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#footer a {
  color: #6683a2;
  font-weight: bold;
}

/* line 170, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
ol.comment-list a.author {
  font-weight: bold;
}

/* line 173, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
ol.comment-list span.comment-meta {
  text-align: right;
}

/* line 182, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
div#social-buttons {
  text-align: right;
}

/* line 191, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
button, a.button {
  text-decoration: none;
}

/* line 195, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
button, input.button {
  line-height: 16px;
}

/* line 199, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
button, a.button, input.button {
  color: #2e2e2e;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center !important;
}

/* line 206, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
button.positive:hover, a.positive:hover, input.positive:hover {
  color: #559911;
}

/* line 210, ../../../../app/themes/sass/themes/boxyframe/frontend-typography.sass */
button.negative:hover, a.negative:hover, input.negative:hover {
  color: #dd3322;
}
