/* line 3, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body a {
  border-bottom: 2px solid #6683a2;
}
/* line 6, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body p {
  font-size: 13px;
  margin: 0 0 15px;
  text-align: justify;
}
/* line 11, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body p.inline-errors {
  font-size: 10px;
}
/* line 14, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table {
  font-size: 13px;
  line-height: 25px;
  border-collapse: collapse;
  width: 100%;
}
/* line 20, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table td {
  border-bottom: solid 1px #dddddd;
  padding: 5px 0;
  margin: 0 10px;
}
/* line 25, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table th {
  background-color: #6683a2;
  border-bottom: solid 1px #dddddd;
  font-size: 15px;
  padding: 5px 0;
  margin: 0 10px;
}
/* line 32, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body strong {
  font-weight: bold;
}
/* line 35, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body cite, div.textile-body em {
  font-style: italic;
}
/* line 38, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ul {
  list-style-type: disc;
  padding: 0 5px 0;
}
/* line 42, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body li {
  margin: 15px 30px;
}
/* line 45, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ol {
  list-style-type: decimal;
}
/* line 48, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body pre, div.textile-body code, div.textile-body tt {
  font-family: "lucida console", Monospace;
}

/* line 31, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
body {
  background-color: #404040;
}

/* line 35, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h2 {
  margin: 0 0 15px;
}
/* line 38, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h2 a:hover {
  border-bottom: 3px solid #6683a2;
}

/* line 42, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h3, h4 {
  margin: 0 0 10px;
}

/* line 46, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h5 {
  margin: 0 0 10px;
}

/* line 50, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
hr {
  background-color: #dddddd;
  border: none;
  clear: left;
  height: 1px;
  margin: 15px 0;
}

/* line 58, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#account-info {
  background-color: white;
  border: 2px solid #111111;
  margin: 50px auto 0;
  height: 20px;
  padding: 5px 15px 2px;
  width: 950px;
}
/* line 66, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#account-info span.options {
  float: right;
}
/* line 69, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#account-info span.options a:hover {
  border-bottom: 2px solid #6683a2;
}

/* line 73, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#menu {
  background-color: #7499bf;
  background-image: url("/stylesheets/themes/boxyframe/images/menu.png");
  background-repeat: repeat-x;
  border: 2px solid black;
  margin: auto;
  height: 40px;
  width: 980px;
}

/* line 83, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul {
  margin: 12px 0 0;
}
/* line 86, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul li {
  display: inline;
}
/* line 89, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul li a {
  border: none;
  color: white;
  padding: 12px 20px 14px;
}
/* line 94, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul li a:hover {
  background-color: #6683a2;
}

/* line 98, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#tag-cloud {
  background-color: #e0e9f2;
  margin: 0 25px 20px 780px;
  min-height: 100px;
  padding: 10px 20px;
  position: relative;
  top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 109, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#tag-search-bar {
  margin: 0 0 15px;
}
/* line 112, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#tag-search-bar div#tags {
  margin: 10px;
}

/* line 116, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#logo {
  background-color: white;
  background-image: url("/stylesheets/themes/boxyframe/images/logo_nebaum.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-top: 2px solid #111111;
  border-right: 2px solid #111111;
  border-bottom: 2px solid #111111;
  height: 130px;
  margin: 38px 0;
  position: absolute;
  top: 20px;
  width: 270px;
  -moz-border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  behavior: url("/stylesheets/pie.htc");
}

/* line 133, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash-content {
  margin: 5px 0;
}

/* line 137, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#panel {
  border-left: 2px solid #111111;
  border-right: 2px solid #111111;
  margin: auto;
  width: 980px;
}

/* line 144, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.entrybody {
  margin: 0 10px;
}

/* line 148, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#content.single {
  float: left;
  width: 96%;
  margin: 20px 20px 30px;
}

/* line 154, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#content.double {
  float: left;
  width: 745px;
  margin: 20px 20px 30px;
}

/* line 160, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#main {
  background-color: white;
  border-left: 2px solid #111111;
  border-right: 2px solid #111111;
  border-bottom: 2px solid #111111;
  margin: auto;
  width: 980px;
}

/* line 169, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#user-info, div#user-invite {
  margin: 15px 10px;
}

/* line 173, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#footer {
  margin: 25px;
}
/* line 176, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#footer a:hover {
  border-bottom: 2px solid #6683a2;
}

/* line 180, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash {
  background-image: url("/images/dark_transparency.png");
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
/* line 189, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message p {
  margin: 0 100px;
  padding: 20px;
}
/* line 193, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message.error {
  background: url("/stylesheets/themes/nemum/images/flash/error.png") no-repeat 0 50%;
}
/* line 196, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message.warning {
  background: url("/stylesheets/themes/nemum/images/flash/warning.png") no-repeat 0 50%;
}
/* line 199, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message.info, div#flash div.message.notice {
  background: url("/stylesheets/themes/nemum/images/flash/notice.png") no-repeat 0 50%;
}

/* line 203, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#archives {
  float: right;
  margin: 10px;
}
/* line 207, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#archives a:hover {
  border-bottom: 3px solid #6683a2;
}

/* line 216, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#social-buttons {
  margin: 0 10px 5px;
  clear: both;
}
/* line 220, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#social-buttons iframe {
  vertical-align: bottom;
}
/* line 223, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#social-buttons a span {
  border: 1px solid #5f78ab;
  border-bottom: 1px solid #29447e;
}

/* line 233, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#announcements {
  overflow: hidden;
  position: relative;
  width: 980px;
}
/* line 238, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#announcements a:hover {
  border: none;
}

/* line 242, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-tail {
  display: none;
}

/* line 246, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcements-bar {
  background: url("/images/dark_transparency.png");
  cursor: default;
  padding: 12px;
  position: absolute;
  right: 0;
}

/* line 254, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-block img {
  height: 250px;
  width: 980px;
}

/* line 259, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-text {
  background: url("/images/dark_transparency.png");
  bottom: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 267, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-text p.title {
  padding: 0 0 15px;
}

/* line 276, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.post {
  margin: 0 0 30px;
}

/* line 280, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.post-image {
  float: left;
  margin: 0 15px 5px 0;
}

/* line 285, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.meta {
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 292, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.meta a:hover {
  border-bottom: 2px solid #6683a2;
}

/* line 301, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.avatar {
  float: left;
  margin-right: 20px;
}
/* line 305, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.avatar img {
  border: 1px solid #999999;
}

/* line 309, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
span.comment-meta {
  clear: both;
  display: block;
}

/* line 314, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.new-comment {
  padding: 0 15px;
}

/* line 318, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
ol.comment-list {
  margin: 15px;
}
/* line 321, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
ol.comment-list p {
  padding: 15px 0 0;
}

/* line 330, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
button, a.button, input.button {
  background-color: #e9e9e9;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#e9e9e9)";
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 340, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
button:active, a.button:active, input.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f9f9f9));
  background: -moz-linear-gradient(top, #e9e9e9, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#f9f9f9)";
  behavior: url("/stylesheets/pie.htc");
}

/* line 345, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
a.button {
  padding: 6px 10px;
}

/* line 349, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
input.button {
  padding: 5px 10px !important;
}

/* line 353, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
button {
  padding: 5px 10px;
}

/* line 357, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
*:first-child + html input[type] {
  padding: 2px 10px 3px;
}

/* line 362, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
a.google_ico, a.yahoo_ico {
  margin: 0 0 15px 0;
  width: 90%;
}

/* line 369, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
.selfclear {
  display: inline-block;
  display: block;
}
/* line 370, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
