/* line 3, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body p {
  margin: 0 0 15px;
}
/* line 6, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table {
  border-collapse: collapse;
  width: 100%;
}
/* line 10, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table td {
  border-bottom: solid 1px #dddddd;
  padding: 5px 0;
  margin: 0 10px;
}
/* line 15, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table th {
  background-color: #6683a2;
  border-bottom: solid 1px #dddddd;
  padding: 5px 0;
  margin: 0 10px;
}
/* line 21, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body strong {
  font-weight: bold;
}
/* line 24, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body cite, div.textile-body em {
  font-style: italic;
}
/* line 27, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ul {
  list-style-type: disc;
  margin: 0 0 0 20px;
  padding: 0 5px 0;
}
/* line 32, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ol {
  list-style-type: decimal;
  margin: 0 0 0 20px;
}
/* line 36, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body pre, div.textile-body code, div.textile-body tt {
  font-family: "lucida console", Monospace;
}

/* line 26, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
body {
  background-color: #404040;
}

/* line 30, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h2 {
  margin: 0 0 15px;
}
/* line 33, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h2 a:hover {
  border-bottom: 3px solid #6683a2;
}

/* line 37, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h3, h4 {
  margin: 0 0 10px;
}

/* line 41, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
h5 {
  margin: 0 0 10px;
}

/* line 45, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
hr {
  background-color: #dddddd;
  border: none;
  clear: left;
  height: 1px;
  margin: 15px 0;
}

/* line 53, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#account-info {
  background-color: white;
  border: 2px solid #111111;
  margin: 50px auto 0;
  height: 20px;
  padding: 5px 15px 2px;
  width: 950px;
}
/* line 61, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#account-info span.options {
  float: right;
}
/* line 64, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#account-info span.options a:hover {
  border-bottom: 2px solid #6683a2;
}

/* line 68, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#menu {
  background-color: #7499bf;
  background-image: url("/stylesheets/themes/boxyframe/images/menu.png");
  background-repeat: repeat-x;
  border: 2px solid black;
  margin: auto;
  height: 40px;
  width: 980px;
}

/* line 78, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul {
  margin: 12px 0 0;
}
/* line 81, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul li {
  display: inline;
}
/* line 84, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul li a {
  border: none;
  color: white;
  padding: 12px 20px 14px;
}
/* line 89, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#navigation-nojs ul li a:hover {
  background-color: #6683a2;
}

/* line 93, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#tag-cloud {
  background-color: #e0e9f2;
  margin: 0 25px 20px 780px;
  min-height: 100px;
  padding: 10px 20px;
  position: relative;
  top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 104, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#tag-search-bar {
  margin: 0 0 15px;
}
/* line 107, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#tag-search-bar div#tags {
  margin: 10px;
}
/* line 110, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#tag-search-bar div#tags a {
  border: none;
}

/* line 114, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#logo {
  background-color: white;
  background-image: url("/stylesheets/themes/boxyframe/images/logo_nebaum.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-top: 2px solid #111111;
  border-right: 2px solid #111111;
  border-bottom: 2px solid #111111;
  height: 130px;
  margin: 38px 0;
  position: absolute;
  top: 20px;
  width: 270px;
  -moz-border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  behavior: url("/stylesheets/pie.htc");
}

/* line 131, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash-content {
  margin: 5px 0;
}

/* line 135, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#panel {
  border-left: 2px solid #111111;
  border-right: 2px solid #111111;
  margin: auto;
  width: 980px;
}

/* line 142, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.entrybody {
  margin: 0 10px;
}

/* line 146, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#content.single {
  float: left;
  width: 96%;
  margin: 20px 20px 30px;
}

/* line 152, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#content.double {
  float: left;
  width: 745px;
  margin: 20px 20px 30px;
}

/* line 158, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#main {
  background-color: white;
  border-left: 2px solid #111111;
  border-right: 2px solid #111111;
  border-bottom: 2px solid #111111;
  margin: auto;
  width: 980px;
}

/* line 167, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#user-info, div#user-invite {
  margin: 15px 10px;
}

/* line 171, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#footer {
  margin: 25px;
}
/* line 174, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#footer a:hover {
  border-bottom: 2px solid #6683a2;
}

/* line 178, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash {
  background-image: url("/images/dark_transparency.png");
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
/* line 187, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message {
  height: 64px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 192, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message p {
  margin: 0 100px;
  padding: 20px;
}
/* line 196, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message.error {
  background: url("/stylesheets/themes/nemum/images/flash/error.png") no-repeat 0 50%;
}
/* line 199, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message.warning {
  background: url("/stylesheets/themes/nemum/images/flash/warning.png") no-repeat 0 50%;
}
/* line 202, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#flash div.message.info, div#flash div.message.notice {
  background: url("/stylesheets/themes/nemum/images/flash/notice.png") no-repeat 0 50%;
}

/* line 206, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#archives {
  float: right;
  margin: 10px;
}
/* line 210, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#archives a:hover {
  border-bottom: 3px solid #6683a2;
}

/* line 219, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#social-buttons {
  margin: 0 10px 5px;
  clear: both;
}
/* line 223, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#social-buttons iframe {
  vertical-align: bottom;
}
/* line 226, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#social-buttons a span {
  border: 1px solid #5f78ab;
  border-bottom: 1px solid #29447e;
}

/* line 236, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#announcements {
  overflow: hidden;
  position: relative;
  width: 980px;
}
/* line 241, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div#announcements a:hover {
  border: none;
}

/* line 245, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-tail {
  display: none;
}

/* line 249, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcements-bar {
  background: url("/images/dark_transparency.png");
  cursor: default;
  padding: 12px;
  position: absolute;
  right: 0;
}

/* line 257, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-block img {
  height: 250px;
  width: 980px;
}

/* line 262, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-text {
  background: url("/images/dark_transparency.png");
  bottom: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 270, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.announcement-text p.title {
  padding: 0 0 15px;
}

/* line 281, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
body#pages_show div#main ul li, body#pages_show div#main ol li {
  list-style-position: inside;
  margin: 15px 30px;
}

/* line 291, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.post {
  margin: 0 0 30px;
}

/* line 295, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.post-image {
  float: left;
  margin: 0 15px 5px 0;
}

/* line 300, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.meta {
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 307, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.meta a:hover {
  border-bottom: 2px solid #6683a2;
}

/* line 316, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.avatar {
  float: left;
  margin-right: 20px;
}
/* line 320, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.avatar img {
  border: 1px solid #999999;
}

/* line 324, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
span.comment-meta {
  clear: both;
  display: block;
}

/* line 329, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
div.new-comment {
  padding: 0 15px;
}

/* line 333, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
ol.comment-list {
  margin: 15px;
}
/* line 336, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
ol.comment-list p {
  padding: 15px 0 0;
}

/* line 345, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
button, a.button, input.button {
  background-color: #e9e9e9;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#e9e9e9)";
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 355, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
button:active, a.button:active, input.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f9f9f9));
  background: -moz-linear-gradient(top, #e9e9e9, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#f9f9f9)";
  behavior: url("/stylesheets/pie.htc");
}

/* line 360, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
a.button {
  padding: 6px 10px;
}

/* line 364, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
input.button {
  padding: 5px 10px !important;
}

/* line 368, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
button {
  padding: 5px 10px;
}

/* line 372, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
*:first-child + html input[type] {
  padding: 2px 10px 3px;
}

/* line 377, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
a.google_ico, a.yahoo_ico {
  margin: 0 0 15px 0;
  width: 90%;
}

/* line 384, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
.selfclear {
  display: inline-block;
  display: block;
}
/* line 385, ../../../../app/themes/sass/themes/boxyframe/frontend-structure.sass */
.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
