<% if @mail -%>
  <div class="block">
    <div id="sidebar_head">
      <h5><%= h t("admin.mails.new.sidebar.title") %></h5>
    </div>
    <div class="content">
      <p><%= h t("admin.mails.new.sidebar.content") %></p>
    </div>
  </div>

  <div class="block">
    <h5><%=h t("admin.mails.new.sidebar.sent_mails") %></h5>
    <div class="content">
      <ul class="navigation">
        <li><%= link_to h(t("admin.mails.new.sidebar.go_to_sent_mails")), admin_mails_path %></li>
      </ul>
    </div>
  </div>
<% end -%>
