--- 
development: &local
  theme: "nemum"
  site_name: "Nemum"
  site_url: "http://localhost:3000/"
  site_domain: "localhost"
  site_header: "Sandbox application"
  support_email: "support@baseapp2.local"
  root_email: "admin@baseapp2.local"
  mailer_email: "miguelregedor@gmail.com"
  default_locale: "en"
  force_locale: "true"
  mailer:
    enable_starttls_auto: true
    address: smtp.gmail.com
    authentication: :plain
    port: 587
    domain: gmail.com
    user_name: usernamewithoutAT # also change email in notifier model 
    password: password

production:
  theme: "nemum"
  site_name: "Nemum"
  site_url: "http://www.regedor.com/"
  site_domain: "www.regedor.com"
  site_header: "Sandbox application"
  support_email: "support@baseapp2.local"
  root_email: "admin@baseapp2.local"
  mailer_email: "miguelregedor@gmail.com"
  default_locale: "en"
  force_locale: "true"
  mailer:
    enable_starttls_auto: true
    address: smtp.gmail.com
    authentication: :plain
    port: 587
    domain: gmail.com
    user_name: miguelregedor 
    password: password

test:
  <<: *local
