--- 
development: &local
  theme: nemum
  default_locale: en
  title: Sandbox
  site_name: Sandbox
  site_header: Sandbox application
  force_locale: "true"
  site_domain: localhost
  site_url: http://localhost:3000/
  root_email: miguel@regedor.com
  support_email: support@baseapp2.local
  mailer_email: noreply@regedor.com
  mailer: 
    :authentication: :plain
    :address: smtp.gmail.com
    :enable_starttls_auto: true
    :port: 587
    :domain: regedor.com
    :user_name: noreply@regedor.com
    :password: password
  clickatell:  
    user_id: '3274318'
    username: 'tester'
    password: 'tester'

production: 
  theme: nemum
  default_locale: en
  title: Sandbox
  site_name: Sandbox
  site_header: Sandbox application
  force_locale: "true"
  site_domain: www.sandbox.regedor.com
  site_url: http://www.sandbox.regedor.com/
  root_email: miguel@regedor.com
  support_email: support@baseapp2.local
  mailer_email: noreply@regedor.com
  mailer: 
    :authentication: :plain
    :address: smtp.gmail.com
    :enable_starttls_auto: true
    :port: 587
    :domain: regedor.com
    :user_name: noreply@regedor.com
    :password: password
  clickatell:  
    user_id: '3274318'
    username: 'tester'
    password: 'tester'

test:
  <<: *local
