/*
    This theme uses a lot of css3 elements, only for experimental use.
    Simon theme: Orange gradient
    simon grey:   #676766
    simon orange: #F2663A
    (Colors go from lighter to darker)
    grey:
    #DDDDDD  #DDD #9E9E9E #36393D    
*/

/*
============================================================================
= Typography
============================================================================
*/
#main .block .content h2 { margin-left: 0px;font-size: 22px;font-style: normal;font-weight: bold;} 
#main .block .content h2 { text-transform: normal;letter-spacing: -1px;line-height: 1.2em;}
#main .block .content p  { font-size: 13px;font-style: normal;font-weight: normal;text-transform: normal;}
#main .block .content p  { letter-spacing: normal;line-height: 1.45em;}
.small                   { font-size: 11px;font-style: normal;font-weight: normal;}
.small                   { text-transform: normal;letter-spacing: normal;line-height: 1.4em;}
.gray                    { color:#999999;font-family: Georgia, serif;font-size: 13px;}
.gray                    { font-style: italic;font-weight: normal;text-transform: normal;letter-spacing: normal;line-height: 1.6em;}
.hightlight              { background-color: #ffff88; font-weight: bold; color: #36393d;}
a:link, 
a:visited, 
a:hover, 
a:active, 
h1, 
h2, 
h3                       { color: #36393d;}
body                     { color: #222; background: #F2F2F2; font-family: helvetica, arial, sans-serif;}
hr                       { background: #f0f0ee;color: #f0f0ee;}
#header h1               { height: 60px;padding: 15px 0;font-size: 28px;font-style: normal;}
#header h1               { font-weight: bold;text-transform: normal;letter-spacing: -1px;line-height: 1.2em;}
#header h1 a:link, 
#header h1 a:active, 
#header h1 a:hover, 
#header h1 a:visited     { color: #fff;}
#sidebar .block h4       { font-weight: bold;}
#sidebar .notice h4      { color: #0B43A8;}
#sidebar h3              { background: #FF9F0F;color: #FFF;border-bottom: 5px solid #36393D; border-left:0;}
#sidebar ul li a:link, 
#sidebar ul li a:visited { background: #FFF; border-bottom: 1px solid #F0F0EE; text-decoration: none;}
#sidebar ul li a:hover, 
#sidebar ul li a:active  { background: #36393D; color: #ffffff;}
.secondary-navigation ul li a:link,
.secondary-navigation ul li a:visited,
.secondary-navigation ul li a:hover,
.secondary-navigation ul li a:active,
#user-navigation ul li a:link,
#user-navigation ul li a:visited,
#user-navigation ul li a:hover,
#user-navigation ul li a:active,
#main-navigation ul li a:link, 
#main-navigation ul li a:visited, 
#main-navigation ul li a:hover         { text-decoration: none;color: #fff;padding-right: 10px;padding-left: 10px;}
#main-navigation ul li a:hover         { background-color: #666;}
.secondary-navigation ul li.active,
.secondary-navigation ul li.active a:hover,
.secondary-navigation ul li.active a   { background-color: #36393D; color: #F2663A; font-weight: bold;}
#main-navigation ul li.active a:link, 
#main-navigation ul li.active a:visited, 
#main-navigation ul li.active a:hover, 
#main-navigation ul li.active a:active { font-weight:bold; background-color: #F2F2F2; color: #F2663A; }
#footer .block                         { color: #fff; margin-top: 10px; solid  #36393D;}
#footer a                              { color: #fff;}
.pagination a                          { color: #1a1a1a;}
.table th                              { background: #36393d; color: #FFF;}
label                                  { width: 100px; color:#555555; font:11px verdana,sans-serif;}
.form label.label                      { color: #666666;}
.form input.button                     { cursor: pointer;color: #36393d;font-weight: bold;font-size: 11px;}
.form .description                     { font-style: italic;color: #8C8C8C;font-size: .9em;}
.form .navform a                       { color: #cc0000;}
.flash .message                        { background-color: white;border-top: #CCDD88 dashed 1px;}
.flash .message                        { color: #559938;font-size: 13px; border-bottom: #CCDD88 dashed 1px;}
.flash .message                        { border-left: none;border-right: none;text-align:center;margin: 0 auto 15px;}
.flash .notice                         { background-color: white; border-top: #CCDD88 dashed 1px; color: #559938;}
.flash .notice                         { font-size: 13px; border-bottom: #CCDD88 dashed 1px;border-left: none;}
#box .block h2                         { background: #36393d; color: #FFF;}

/*
============================================================================
= General Structure
============================================================================
*/
label { float:left;}

/*
============================================================================
= Specific Sections Structure
============================================================================
*/
/* Main block */
#main .block .content .inner .block .content { border:0;border-left: 1px solid #9E9E9E;}
#main .block .content .inner .content .inner { padding: 0;}
#main .block .content .inner                 { padding: 0;}
/* Active scaffold container */
#main .block .content                        { background: #FCFCFC;padding: 5px;}




/* Header */
#user-navigation          { top: auto;bottom: 5px;right: 25px; color: black;}
#user-navigation a.logout { background: #cc0000; padding: 1px 4px;}

/* Sidebar */
#sidebar .block     { background: #FFF; }
#sidebar .notice    { background: #E6EEFC;}

/* Navigation */
#wrapper #main-navigation        { border-top:0;}
#main-navigation                 { background-color: #36393D;} /* Main navigation*/
#main-navigation ul li           { margin-right: 0;}
#main-navigation ul li a         { padding: 8px 0; }
.secondary-navigation .wat-cf    { background-color: #FF9F0F;} /*Secondary navigation*/
.secondary-navigation li a:hover { background: #666666;}
.secondary-navigation            { background: white; border-bottom-color: #36393D;}

/* Footer */
#footer                          { padding: 10px 20px;}
#footer .block p                 { margin: 0; padding: 7px; background-color: #36393D;}

/* Pagination */
.pagination a, .pagination span { background: #cfcfcf; border: 1px solid #c1c1c1;}
.pagination span.current        { background: #36393d;color: #FFF;border: 1px solid #36393d;}
.pagination a:hover             { border: 1px solid #666;}

/* Tables */
.table td                       { border-bottom:1px solid #F0F0EE;}
.table tr.even                  { background: #ebebeb;}

/* Forms */
.form input.text_field, 
.form textarea.text_area        { width: 100%;border: 1px solid #cfcfcf;}
.form input.button              { background: #cfcfcf; border: 1px solid #c1c1c1; padding: 2px 5px;}
.form input.button:hover        { border: 1px solid #666;}

/* Flash message*/
.flash .message p { margin:8px;}
.flash .error     { border: 1px solid #fbb; background-color: #fdd;}
.flash .warning   { border: 1px solid #fffaaa; background-color: #ffffcc;}
.flash .notice    { border-right: none, -moz-border-radius:0, -webkit-border-radius:0;}

/* lists */
ul.list li               { border-bottom-color: #F0F0EE; border-bottom-width: 1px; border-bottom-style: solid;}
ul.list li .item .avatar { border-color: #F0F0EE;border-width: 1px;border-style: solid;padding: 2px;}

/* box */
#box .block           { background: #FFF;}
.secondary-navigation { border-bottom-width: 4px;}
#sidebar ul           { margin-left: 2em; margin-bottom: 2em;}
div#wrapper.wat-cf    { padding-top: 2em;margin-left: 20px; margin-right: 20px;}

/* This elements are css3, they make the rounded borders, ugly css*/
#main,
#main-navigation,
#main-navigation li,
.secondary-navigation,
#main .block,
#sidebar .block,
#sidebar h3,
#sidebar,
ul.list li,
ul.wat-cf li.active,
ul.wat-cf li.active a,
#footer .block p,
.form input.button,
#box .block,
#box .block h2                    { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px;
                                    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;}
.secondary-navigation li.first a,
ul.wat-cf,
.secondary-navigation ul li.first,
.table th.first, 
.table th.first                   { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.table th.last, 
ul.wat-cf                         {-moz-border-radius-topright: 4px;-webkit-border-top-right-radius: 4px;}
.secondary-navigation ul li.first { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px;}
#sidebar, 
#sidebar .block, 
#main .block, 
#sidebar ul.navigation, 
ul.list li, 
#footer .block p, 
.form input.button, 
#box .block                       { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px;
                                    -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
                        

#main-navigation ul li.active a:link, 
#main-navigation ul li.active a:visited, 
#main-navigation ul li.active a:hover, 
#main-navigation ul li.active a:active 
               { background: -webkit-gradient(linear,left bottom,left top,color-stop(0.49, rgb(240,240,240)),color-stop(0.74, rgb(163,163,163)));
                 background: -moz-linear-gradient(center bottom,rgb(240,240,240) 49%,rgb(163,163,163) 74%);}
.secondary-navigation ul li.active,
.secondary-navigation ul li.active a:hover,
.secondary-navigation ul li.active a   
               { background: -webkit-gradient(linear,left bottom,left top,color-stop(0.02, rgb(54,57,61)),color-stop(0.29, rgb(224,224,224)));
                 background: -moz-linear-gradient(center bottom,rgb(54,57,61) 2%,rgb(224,224,224) 29%); }            
#header        { background: -webkit-gradient(linear,left bottom,left top,color-stop(0.16, rgb(204,204,204)),color-stop(0.87, rgb(255,159,15)))}
#header        { background: -moz-linear-gradient(center bottom,rgb(204,204,204) 16%,rgb(255,159,15) 87%)}
#wrapper #main .block {-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5px 5px #888;}
#sidebar .block       {-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5px 5px #888;}

