<div id="gallery">
  <% @albums.each do |album| %>
    <a href="<%= gallery_path(album.name) %>">
	  <img  class="thumb" src="/assets/images/thumbs/<%= album.name %>/<%= album.cover %>"/>
	</a>
  <% end %>
</div>	