<div class="inner">
  <h2><%= t('gallery.form.new') %></h2>
  <% semantic_form_for :album, @album,
                       :url => gallery_index_path,
                       :method => :post,
                       :html => { :class => 'create', :id => 'new_album', :multipart => true } do |form| -%>
    <%= render :partial => 'form', :locals => { :form => form } %>
    <% form.buttons do -%>
      <%= form.commit_button I18n::t('gallery.form.create_button'),
                             :button_html => { :class => 'button positive' } %>
      <%= form.button_link   I18n::t('gallery.form.cancel_button'), gallery_index_path,
                             :button_html => { :class => 'button negative' } %>
    <% end -%>
  <% end -%>
</div>