/*
 Nemum theme
   based on "activo" by David Francisco (dmfrancisc[at]gmail.com)
     based on "Drastic Dark" by Juan Maria Martinez Arce (juan[at]insignia4u.com)
     
  sizes: 
    1px  : borders
    32px : header 1
    
*/

/*
============================================================================
= Typography
============================================================================
*/
.small                   { font-size: 11px; font-style: normal; font-weight: normal;}
.small                   { text-transform: none; letter-spacing: normal; line-height: 1.4em; }
.gray                    { font-family: Verdana,Georgia,serif; font-style: italic; color:#999999;}
.gray                    { font-weight: normal; text-transform: none; letter-spacing: normal; line-height: 1.6em; }
.hightlight              { font-weight: bold; color: #36393d; background-color: #ffff88;}
a:link,
a:visited,
a:hover,
a:active,
h1,
h2,
h3                       { color: #111; }
body                     { color: #111; background: #E5E5E5; font-family: Verdana,helvetica,arial,sans-serif; }
hr                       {  color: #e2e2e2;background: #e2e2e2; }
#header h1               { padding: 15px 0; font-size: 32px; font-style: normal; font-weight: bold;}
#header h1               { text-transform: none; letter-spacing: -1px; line-height: 1.2em; color: #fff; text-shadow: #000 1px 1px 2px;}
#header h1 a:link,
#header h1 a:active,
#header h1 a:hover,
#header h1 a:visited     { color: #fff;}
#header h1 a             { text-indent: -6000px; display: block; height: 100px; width: 350px; background: url("images/bg_logo_admin.png") no-repeat;}
#user-navigation a,
#user-navigation a:active,
#user-navigation a:visited,
#user-navigation a:hover,
#user-navigation a:link     { color: #fff; text-decoration: none;}
#main .block .content h2    { margin-left: 15px; font-size: 22px; font-style: normal;} 
#main .block .content h2    { font-weight: bold; text-transform: none; letter-spacing: -1px; line-height: 1.2em; }
#main .block .content p     { font-size: 13px; font-style: normal; font-weight: normal;}
#main .block .content p     { text-transform: none; letter-spacing: normal; line-height: 1.45em; }
#sidebar .block h4          { font-weight: bold; }
#sidebar h3                 { color: #111; border-bottom: 1px solid #c0c0c0; }
#sidebar ul.navigation li a { text-decoration: none; margin-left: 20px; }
#sidebar ul li a:link,
#sidebar ul li a:visited    { text-decoration: none; }
#main-navigation ul li a:link,
#main-navigation ul li a:visited,
#main-navigation ul li a:hover,
#main-navigation ul li a:active { text-decoration: none; color: #111;}
.secondary-navigation ul li a:link,
.secondary-navigation ul li a:visited,
.secondary-navigation ul li a:hover,
.secondary-navigation ul li a:active,
#user-navigation ul li a:link,
#user-navigation ul li a:visited,
#user-navigation ul li a:hover,
#user-navigation ul li a:active { text-decoration: none; color: #111;}
#footer .block             { color: #111; border-top: 1px solid silver; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.pagination a,
.pagination span           { color: #111; text-align: center; min-width: 15px; margin-right: 5px; padding: 6px; border: 1px solid #c3c4ba;}
.pagination em             { background: #002134; color: #fff; border: 1px solid #002134;}
.pagination a              { color: #1a1a1a; }
.table th                  { background: #eaeaea; color: #222; font-weight: normal; }
.table td                  { border-bottom: 1px solid #eaeaea; }
.form label.label          { color: #666666; }
.form input.button         { cursor: pointer; color: #111; font-weight: bold; font-size: 11px; }
.form input.button         { background: #e2e2e2; border: 1px solid #c1c1c1; padding: 2px 5px;}
.form .description         { font-style: italic; color: #8C8C8C; font-size: .9em; }
.form .navform a           { color: #cc0000; }
button.button              { border: 1px solid #c3c4ba; font-family: Verdana,helvetica,arial,sans-serif; font-weight: normal; }
a.button:link,
a.button:visited,
a.button:hover,
a.button:active,
button.button:link,
button.button:visited,
button.button:hover,
button.button:active      { font-weight: normal; background-color: #f4f4f4; }
.flash .message           { text-align:center; margin: 0 auto 15px; }
#box .block h2            { background: #002134; color: #fff; }


/*
============================================================================
= Specific Sections Structure
============================================================================
*/
a                         { -moz-outline: none; }

/* HEADER */
#header                   { background: #2E2A2B; background: -webkit-gradient(linear,left bottom,left top,color-stop(1, #2E2A2B),color-stop(0, #423D3E));
                            background: -moz-linear-gradient(center bottom,rgb(66,61,62) 0%,rgb(46,42,43) 100%); }

/* USER NAVIGATION */
#user-navigation          { top: auto; bottom: 5px; right: 25px; }
#user-navigation a.logout { background: #ccc; padding: 1px 4px; }

/* MAIN */
#main                     { width: 71%; }
#main>.block              { padding-top: 0px; background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);}
#main>.block              { -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4); box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
#main>.block .content     { padding-top: 1px; }

/* SIDEBAR */
#sidebar .notice                       { background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);}
#sidebar .notice                       { -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4); box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
#sidebar ul.navigation li              { background-position: 15px 11px; background-repeat: no-repeat;} 
#sidebar ul.navigation li              { background-image: url("images/arrow.png"); border-bottom: 1px solid #e2e2e2; }
#sidebar .block .content ul            { list-style: none; }
#sidebar .block .content ul .selected  { font-weight: bold; color: #999;}
#sidebar .block .content ul .selected  a { font-weight: bold; color: #999;}

/* MAIN NAVIGATION */
#main-navigation ul li          { background-color: #ADADAD; margin-left: 10px; margin-right: 10px;}
#main-navigation ul li          { }
#main-navigation ul li a        { padding: 8px 0; }
#main-navigation ul li.active   { padding: 0;}
#main-navigation ul li.active   { background: #E5E5E5; 
                        background: -webkit-gradient(linear,left bottom,left top,color-stop(1, #fff),color-stop(0, #E5E5E5)); 
                        background: -moz-linear-gradient(center bottom,rgb(229,229,229) 2%,rgb(255,255,255) 60%); }
#main-navigation ul li.active a { padding: 8px 15px; }
#main-navigation ul li          { margin-right: 0; padding-left: 5px; padding-right: 5px; }

/* SECONDARY NAVIGATION */
.secondary-navigation              { padding-top: 0px; background: #fff;}
.secondary-navigation              { background-color: #f2f1ee; border-bottom: none;}
 .secondary-navigation             {  border-bottom-width: 5px; background-image: url("images/boxbar-background.png");}
.secondary-navigation ul li.active a:hover,
.secondary-navigation ul li.active { background-color: #fff;}

/* FOOTER */
#footer                            { padding:0; margin: 0; padding-left: 20px; padding-right: 20px; }
#footer .block p                   { margin: 0; padding-top: 15px; text-align: center;}

/* PAGINATION */
.pagination a,
.pagination span                   { background-color: #f4f4f4; background-image: url("images/button-background.png");}
.pagination a:hover                { border: 1px solid #818171; -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);}
.pagination a:hover                { -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3); box-shadow: 0 0 4px rgba(0,0,0,0.3); }
.pagination a:active               { background-image: url("images/button-background-active.png"); outline: none; }

/* tables */
.table tr.even                     { background: #f8f8f8; }

/* forms */
.form input.text_field,
.form textarea.text_area           { width: 100%; border: 1px solid #e2e2e2; }
.form input:hover,
.form textarea:hover { -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px; -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px; box-shadow: 0 0 3px rgba(0,0,0,0.3); border: 1px solid #a2a294; }
.form input:focus,
.form textarea:focus               { border: 1px solid #a2a294; }
.form input.button:hover           { border: 1px solid #666; }

/* buttons */
a.button,
button.button                      { background-color: #f4f4f4; background-image: url("images/button-background.png");} 
a.button:hover,
button.button:hover                { background-color: #eee; border: 1px solid #818171; -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);}
a.button:hover,
button.button:hover                { -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3); box-shadow: 0 0 4px rgba(0,0,0,0.3); }
a.button:active,
button.button:active               { outline: none; background-color: #ddd; background-image: url("images/button-background-active.png"); }

/* flash-messages */
.flash .message   { margin: 15px; }
.flash .message p { margin:8px; }
.flash .error     { border: 1px solid #ffbbbb; background-color: #ffdddd; }
.flash .warning   { border: 1px solid #ffff88; background-color: #ffffcc; }
.flash .info, 
.flash .notice    { border: 1px solid #1fdf00; background-color: #bbffb6; }


/* lists */
ul.list li               { border-bottom-color: #d8d8d8; border-bottom-width: 1px; border-bottom-style: solid; margin-top: 6px; }
ul.list li .item .avatar { border-color: #d8d8d8; border-width: 1px; border-style: solid; padding: 2px; margin-top: 6px; }

/* box */
#box .block { background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);}
#box .block { -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4); box-shadow: 0 1px 3px rgba(0,0,0,0.4); }

/* rounded borders */
#main,
#main-navigation li,
.secondary-navigation,
#sidebar .block,
#sidebar h3,
ul.list li,
.form input.button,
#box .block,
#box .block h2 { -moz-border-radius-topleft:9px;-webkit-border-top-left-radius:9px;-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;}

.secondary-navigation li.first a,
.secondary-navigation ul li.first { -moz-border-radius-topleft: 9px; -webkit-border-top-left-radius: 9px; }
.secondary-navigation ul li.first { -moz-border-radius-topleft: 9px; -webkit-border-top-left-radius: 9px; }

div.view,
#sidebar,
#sidebar .block,
#main .block,
#sidebar ul.navigation,
ul.list li,
.form input.button,
#box .block { -moz-border-radius-bottomleft:9px;-webkit-border-bottom-left-radius:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-right-radius:9px;}

#main .block,
.secondary-navigation { -moz-border-radius-topleft: 9px; -webkit-border-top-left-radius: 9px; border-top-left-radius: 9px; 
 -moz-border-radius-topright: 9px; -webkit-border-top-right-radius: 9px; border-top-right-radius: 9px; }

a.button,
button.button,
.pagination a,
.pagination span          { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.flash .message           { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.form input.button        { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#user-navigation a.logout { -moz-border-radius: 4px; 	-webkit-border-radius: 4px; border-radius: 4px; }
