/*
============================================================================
= Typography
============================================================================
*/

body                                      { font: 0.75em Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif; color: #333; }

a,
a:link,
a:visited,
a:active                                  { text-decoration: none; color: #2E2A2B; }
a:hover                                   { color: #555; }

p                                         { text-align: justify; line-height: 1.3em; }

div#header div#user-navigation a,
div#header div#user-navigation a:active,
div#header div#user-navigation a:visited,
div#header div#user-navigation a:hover,
div#header div#user-navigation a:link     { color: #FFF; }

div#sidebar h3                            { border-bottom: 1px solid #C0C0C0; font-size: 1.2em; }

div#main-navigation ul li a               { font-size: 1.2em; display: block; padding: 8px 15px; }
div#main-navigation ul li a:link,
div#main-navigation ul li a:visited,
div#main-navigation ul li a:active        { color: #111; }
div#main-navigation ul li a:hover         { color: #555; }

div.meta li                               { line-height: 1.3em; }

div.secondary-navigation                  { font-size: 1.1em; }
div.secondary-navigation ul li.active     { background: #FFF; }

div#main div.block div.content h2         { font-size: 2em; font-weight: bold; }
div#main div.block div.content p          { font-size: 1.1em; }

div#preview table                         { font-size: 1.1em; line-height: 1.8em; }
div#preview th                            { vertical-align: middle; }

div#footer div.block p                    { text-align: center; }

div#flash div.message p                   { text-align: center; }

div#social-buttons                        { text-align: right; }
