/* line 14, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
.male {
  background: url("/stylesheets/themes/nemum/icons/male.png") no-repeat;
  text-indent: 20px;
}

/* line 19, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
.female {
  background: url("/stylesheets/themes/nemum/icons/female.png") no-repeat;
  text-indent: 20px;
}

/* line 24, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
.tick {
  background: url("/stylesheets/themes/nemum/icons/tick.png") no-repeat;
  text-indent: -6000px;
}

/* line 29, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
.cross {
  background: url("/stylesheets/themes/nemum/icons/cross.png") no-repeat;
  text-indent: -6000px;
}

/* line 36, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div.active-scaffold-header div.actions a.new {
  background: url("/stylesheets/themes/nemum/icons/add.png") 0 50% no-repeat;
}
/* line 39, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div.active-scaffold-header div.actions input[type=text] {
  background: url("/stylesheets/themes/nemum/icons/magnifier.png") 4px 50% no-repeat;
  text-indent: 20px;
}

/* line 44, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div#sidebar div.block ul.navigation li {
  background: url("/stylesheets/themes/nemum/icons/arrow.png") 0 2px no-repeat;
}

/* line 48, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div#sidebar div.block ul.options li {
  background: url("/stylesheets/themes/nemum/icons/bullet_black.png") no-repeat;
}

/* line 52, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div#sidebar ul.inner li {
  background: url("/stylesheets/themes/nemum/icons/node.png") no-repeat;
  text-indent: 14px;
  line-height: 18px;
}

/* line 58, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div#sidebar ul.inner ul {
  background: url("/stylesheets/themes/nemum/icons/vline.png") repeat-y;
  text-indent: 14px;
  line-height: 18px;
}

/* line 71, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__users-content a.show {
  background: url("/stylesheets/themes/nemum/icons/user.png") no-repeat;
  padding-left: 18px;
}
/* line 75, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__users-content a.edit {
  background: url("/stylesheets/themes/nemum/icons/user_edit.png") no-repeat;
  padding-left: 18px;
}
/* line 79, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__users-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/user_delete.png") no-repeat;
  padding-left: 18px;
}

/* line 91, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__deleted_users-content a.show {
  background: url("/stylesheets/themes/nemum/icons/user.png") no-repeat;
  padding-left: 18px;
}
/* line 95, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__deleted_users-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/user_delete.png") no-repeat;
  padding-left: 18px;
}
/* line 99, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__deleted_users-content a.undelete {
  background: url("/stylesheets/themes/nemum/icons/user_add.png") no-repeat;
  padding-left: 18px;
}

/* line 111, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__groups-content a.show {
  background: url("/stylesheets/themes/nemum/icons/group.png") no-repeat;
  padding-left: 18px;
}
/* line 115, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__groups-content a.edit {
  background: url("/stylesheets/themes/nemum/icons/group_edit.png") no-repeat;
  padding-left: 18px;
}
/* line 119, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__groups-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/group_delete.png") no-repeat;
  padding-left: 18px;
}

/* line 131, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__posts-content a.comments {
  background: url("/stylesheets/themes/nemum/icons/comments.png") no-repeat;
  padding-left: 18px;
}
/* line 135, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__posts-content a.show {
  background: url("/stylesheets/themes/nemum/icons/pencil.png") no-repeat;
  padding-left: 18px;
}
/* line 139, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__posts-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/pencil_delete.png") no-repeat;
  padding-left: 18px;
}
/* line 143, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__posts-content a.edit {
  background: url("/stylesheets/themes/nemum/icons/pencil.png") no-repeat;
  padding-left: 18px;
}

/* line 155, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__pages-content a.show {
  background: url("/stylesheets/themes/nemum/icons/page.png") no-repeat;
  padding-left: 18px;
}
/* line 159, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__pages-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/page_delete.png") no-repeat;
  padding-left: 18px;
}
/* line 163, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__pages-content a.edit {
  background: url("/stylesheets/themes/nemum/icons/page_edit.png") no-repeat;
  padding-left: 18px;
}

/* line 175, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__projects-content a.show {
  background: url("/stylesheets/themes/nemum/icons/table.png") no-repeat;
  padding-left: 18px;
}
/* line 179, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__projects-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/table_delete.png") no-repeat;
  padding-left: 18px;
}
/* line 183, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__projects-content a.edit {
  background: url("/stylesheets/themes/nemum/icons/table_edit.png") no-repeat;
  padding-left: 18px;
}

/* line 195, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__events-content a.show {
  background: url("/stylesheets/themes/nemum/icons/calendar.png") no-repeat;
  padding-left: 18px;
}
/* line 199, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__events-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/calendar_delete.png") no-repeat;
  padding-left: 18px;
}
/* line 203, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__events-content a.edit {
  background: url("/stylesheets/themes/nemum/icons/calendar_edit.png") no-repeat;
  padding-left: 18px;
}

/* line 215, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div.active-scaffold th.desc a {
  background: url("/stylesheets/themes/nemum/icons/arrow_down.gif") no-repeat 0px 4px;
  padding-left: 18px;
}
/* line 219, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div.active-scaffold th.desc a:hover {
  background: url("/stylesheets/themes/nemum/icons/arrow_down.gif") no-repeat 0px 4px;
  padding-left: 18px;
}
/* line 223, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div.active-scaffold th.asc a {
  background: url("/stylesheets/themes/nemum/icons/arrow_up.gif") no-repeat 0px 4px;
  padding-left: 18px;
}
/* line 227, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
div.active-scaffold th.asc a:hover {
  background: url("/stylesheets/themes/nemum/icons/arrow_up.gif") no-repeat 0px 4px;
  padding-left: 18px;
}

/* line 239, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__announcements-content a.show {
  background: url("/stylesheets/themes/nemum/icons/date.png") no-repeat;
  padding-left: 18px;
}
/* line 243, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__announcements-content a.edit {
  background: url("/stylesheets/themes/nemum/icons/date_edit.png") no-repeat;
  padding-left: 18px;
}
/* line 247, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__announcements-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/date_delete.png") no-repeat;
  padding-left: 18px;
}

/* line 257, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
.logout_ico {
  background: url("/stylesheets/themes/nemum/icons/door_out.png") no-repeat;
  padding-left: 18px;
}

/* line 269, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__mails-content a.show {
  background: url("/stylesheets/themes/nemum/icons/email.png") no-repeat;
  padding-left: 18px;
}
/* line 273, ../../../../app/stylesheets/themes/nemum/backend-icons.sass */
#as_admin__mails-content a.delete {
  background: url("/stylesheets/themes/nemum/icons/email_delete.png") no-repeat;
  padding-left: 18px;
}
