/*
============================================================================
= Typography
============================================================================
*/

form.formtastic                                      { font-size: 1.3em; }
form.formtastic abbr                                 { color: #E22; }
form.formtastic fieldset ol li p.inline-errors       { color: #D32; }
form.formtastic fieldset ol li p.inline-hints        { color: #A1A1A1; }
form.formtastic fieldset ol li label                 { color: #555; font-size: 0.8em; }

fieldset.buttons li.commit input,
fieldset.buttons li.commit button.create,
fieldset.buttons li.commit button.submit,
fieldset.buttons li.commit button.update,
fieldset.buttons li.commit a                         { font-size: 0.9em; font-weight: bold; text-align: center; }

fieldset.buttons li.commit input.positive,
fieldset.buttons li.commit a.positive                { font-size: 1.1em; color: #591; }
fieldset.buttons li.commit input.positive:hover,
fieldset.buttons li.commit a.positive:hover          { color: #591; }

fieldset.buttons li.commit input.negative,
fieldset.buttons li.commit a.negative                { color: #D32; }
fieldset.buttons li.commit input.negative:hover,
fieldset.buttons li.commit a.negative:hover          { color: #D32; }

/*
============================================================================
= General Structure
============================================================================
*/

div.form_with_notes                                  { width: 70%; }
div.form_side_notes                                  { width: 30%; float: right; }
div.form_side_notes .note                            { margin: 0 0 15px; }
div.required_field_note                              { margin: 0 0 1em 35%; }

form.formtastic                                      { background-color: #FCFCFC; margin: 0 15px 0 10px; }
form.formtastic                                      { border-right: solid 1px #DDD; padding: 0 15px 0 0; }
form.formtastic ol li.string input,
form.formtastic ol li.password input                 { border: 1px solid #9E9E9E; }

form.formtastic input#user_openid_identifier         { background: url("/images/openid.gif") no-repeat; }
form.formtastic input#user_openid_identifier         { background-position: 0 50%; text-indent: 18px; }
form.formtastic input#user_session_openid_identifier { background: url("/images/openid.gif") no-repeat; }
form.formtastic input#user_session_openid_identifier { background-position: 0 50%; text-indent: 18px; }

form.formtastic fieldset ol li.string input,
form.formtastic fieldset ol li.password input        { width: 250px; padding: 2px; }
form.formtastic fieldset ol li label                 { width: 165px; padding: 0.4em 0 0; }

form.formtastic legend                               { padding: 0 0 15px 0; }

form.formtastic fieldset ol
li#user_session_remember_me_input label              { padding: 0 0 0 165px; }

/* Buttons */

form.formtastic fieldset.buttons                     { padding: 0; }

fieldset.buttons li.commit input,
fieldset.buttons li.commit button.create,
fieldset.buttons li.commit button.submit,
fieldset.buttons li.commit button.update,
fieldset.buttons li.commit a                         { background-color: #F5F5F5; border: 1px solid #CCC; cursor: pointer; height: 23px; display: block; }
fieldset.buttons li.commit input                     { height: 30px; padding: 0 5px 0; } /* fucking hack */

fieldset.buttons li.commit a.google_ico,
fieldset.buttons li.commit a.yahoo_ico               { margin: 0 0 15px 0; }

fieldset.buttons li.commit input.positive,
fieldset.buttons li.commit a.positive                { padding: 5px 5px 0 0; }
fieldset.buttons li.commit input.positive:hover,
fieldset.buttons li.commit a.positive:hover          { border: 1px solid #CFC; }
fieldset.buttons li.commit input.positive:active,
fieldset.buttons li.commit a.positive:active         { background-color: #EFE; }

fieldset.buttons li.commit input.negative,
fieldset.buttons li.commit a.negative                { padding: 5px 5px 0 0; }
fieldset.buttons li.commit input.negative:hover,
fieldset.buttons li.commit a.negative:hover          { border: 1px solid #FCC; }
fieldset.buttons li.commit input.negative:active,
fieldset.buttons li.commit a.negative:active         { background-color: #FEE; }

fieldset.buttons button,
li.commit input                                      { width: auto; overflow: visible; } /* IE6 */

/* CSS3 */

form.formtastic fieldset ol li.string input:focus,
form.formtastic fieldset ol li.password input:focus,
form.formtastic fieldset ol li.text textarea:focus,
form.formtastic fieldset ol li.string input:hover,
form.formtastic fieldset ol li.password input:hover,
form.formtastic fieldset ol li.text textarea:hover   { -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px; -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px; box-shadow: 0 0 3px rgba(0,0,0,0.3); border: 1px solid #CCC; }
