/*
============================================================================
= Typography
============================================================================
*/

form.formtastic                                      { font-size: 1.3em; }
form.formtastic abbr                                 { color: #E22; }
form.formtastic fieldset ol li p.inline-errors       { color: #D32; }
form.formtastic fieldset ol li p.inline-hints        { color: #A1A1A1; font-size: 0.8em !important; margin: 0 0 0 165px; }
form.formtastic fieldset ol li label                 { color: #555; font-size: 0.8em; }

form.formtastic fieldset.inputs ol li select,
form.formtastic fieldset.inputs ol li textarea,
form.formtastic fieldset.inputs ol li input          { font-size: 0.9em; }

a.button                                             { text-decoration: none; }

a.button,
input.button                                         { color: #2E2A2B; font-size: 0.8em !important; font-weight: bold !important; text-align: center !important; }

a.positive:hover,
input.positive:hover                                 { color: #591 !important; }

a.negative:hover,
input.negative:hover                                 { color: #D32 !important; }

/*
============================================================================
= General Structure
============================================================================
*/

div.todo_content form.formtastic                     { margin: 0; }
div#comments form.formtastic                         { margin: 25px 15px 0px 25px; }

div.form_with_notes                                  { width: 70%; }
div.form_side_notes                                  { width: 30%; float: right; }
div.form_side_notes .note                            { margin: 0 0 15px; }
div.required_field_note                              { margin: 0 0 1em 35%; }

form.formtastic                                      { background-color: #FCFCFC; margin: 0 15px 0 10px; }
form.formtastic                                      { padding: 0 15px 0 0; }

form.formtastic input#user_openid_identifier         { background: url("/images/openid.gif") no-repeat; }
form.formtastic input#user_openid_identifier         { background-position: 2% 50%; text-indent: 20px; }
form.formtastic input#user_session_openid_identifier { background: url("/images/openid.gif") no-repeat; }
form.formtastic input#user_session_openid_identifier { background-position: 2% 50%; text-indent: 20px; }

textarea,
form.formtastic fieldset.inputs ol li textarea       { width: 100% !important; }

form.formtastic fieldset.inputs ol li select         { margin-top: 5px; }
form.formtastic fieldset.inputs ol li p.inline-errors { margin: 0 0 0 165px !important; }

textarea,
form.formtastic fieldset.inputs ol li textarea,
form.formtastic fieldset.inputs ol li input[type=password],
form.formtastic fieldset.inputs ol li input[type=text] { width: 250px; max-width: 74%; padding: 4px; border: 1px solid #9E9E9E; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

form.formtastic fieldset.inputs ol li label          { width: 165px; padding: 0.7em 0 0; }
form.formtastic fieldset.inputs ol li.boolean label  { float: left; padding: 0 0 0 165px; }
form.formtastic fieldset.inputs ol li.boolean p.inline-hints { clear: left; }

form.formtastic fieldset.inputs ol li fieldset ol    { padding: 0; margin: 0 0 0 165px; }

form.formtastic legend                               { padding: 0 0 15px 0; }

li#user_session_remember_me_input label              { margin: 0 0 0 150px; }

/* Buttons */

form.formtastic fieldset.buttons                     { padding: 0; }

a.button,
input.button                                         { cursor: pointer; float: left; background-color: #F5F5F5; }
a.button,
input.button                                         { border: 1px solid #AAA; }

a.button                                             { padding: 5px 10px 7px; }
input.button                                         { padding: 5px 10px !important; }

a.button,
input.button                                         { background: -webkit-gradient(linear,0% 30%,0% 90%,from(#F9F9F9),to(#E9E9E9)); background: -moz-linear-gradient(top, #FFF, #E9E9E9); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#E9E9E9); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#E9E9E9"; }
a.button:active,
input.button:active                                  { background: -webkit-gradient(linear,0% 30%,0% 90%,from(#E9E9E9),to(#F9F9F9)); background: -moz-linear-gradient(top, #E9E9E9, #FFF); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E9E9E9, endColorstr=#F9F9F9); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E9E9E9, endColorstr=#F9F9F9"; }

a.button,
input.button                                         { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

*:first-child+html input[type]                       { padding: 2px 10px 3px; /* IE7 */ }

a.google_ico,
a.yahoo_ico                                          { font-size: 1em; margin: 0 0 15px 0; width: 90% }

/* CSS3 */

form.formtastic fieldset ol li.string input:focus,
form.formtastic fieldset ol li.password input:focus,
form.formtastic fieldset ol li.text textarea:focus   { -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px; -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px; box-shadow: 0 0 3px rgba(0,0,0,0.3); border: 1px solid #CCC; }
