/* line 22, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
body {
  background-color: #2e2a2b;
}

/* line 26, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
h2 {
  margin: 0 0 15px;
}
/* line 29, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
h2 a:hover {
  border-bottom: 3px solid #f8da00;
}

/* line 33, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
h3, h4 {
  margin: 0 0 10px;
}

/* line 37, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
hr {
  background-color: #dddddd;
  border: none;
  clear: left;
  height: 1px;
  margin: 15px 0;
}

/* line 45, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#container {
  margin: auto;
  width: 960px;
}

/* line 50, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#header {
  float: left;
  position: relative;
  width: 200px;
  z-index: 0;
}

/* line 57, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#wrapper {
  margin: 0 0 0 200px;
}

/* line 61, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#navigation {
  background-color: #555555;
  padding: 12px 13px 12px;
  width: 175px;
  -moz-border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  border-radius: 12px 0 0 12px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 68, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#navigation li {
  margin: 5px;
}
/* line 71, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#navigation a:hover {
  border: none;
}

/* line 75, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#navigation div#tag-cloud {
  background: url("/stylesheets/themes/nemum/images/line.png") no-repeat top right;
  margin: 10px 5px 5px 0;
}
/* line 79, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#navigation div#tag-cloud h5 {
  margin: 0 0 5px;
  padding: 10px 0 0;
}

/* line 84, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#tag-search-bar {
  margin: 0 0 10px;
}
/* line 87, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#tag-search-bar div#tags {
  margin: 10px 10px 15px;
}
/* line 90, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#tag-search-bar div#tags a {
  background: url("/stylesheets/themes/nemum/icons/tag_delete.png") no-repeat;
  border: none;
  padding: 0 5px 0 18px;
}

/* line 96, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#site-title {
  margin: 100px 0 80px;
}
/* line 99, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#site-title div#flash-content {
  min-height: 120px;
}

/* line 103, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#account-info {
  background-color: white;
  padding: 5px 15px 8px;
  position: relative;
  z-index: 1;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  -moz-box-shadow: 0 0 15px #333333;
  -webkit-box-shadow: 0 0 15px #333333;
  box-shadow: 0 0 15px #333333;
  behavior: url("/stylesheets/pie.htc");
}
/* line 112, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#account-info span.options {
  float: right;
}
/* line 115, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#account-info span.options a:hover {
  border-bottom: 2px solid #f8da00;
}

/* line 119, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#main {
  background-color: white;
  padding: 20px;
  position: relative;
  z-index: 1;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  -moz-box-shadow: 0 0 15px #333333;
  -webkit-box-shadow: 0 0 15px #333333;
  box-shadow: 0 0 15px #333333;
  behavior: url("/stylesheets/pie.htc");
}
/* line 128, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#main p {
  margin: 0 0 15px;
}
/* line 131, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#main table {
  border-collapse: collapse;
  margin: 0 0 10px;
  width: 100%;
}
/* line 136, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#main td, div#main th {
  border-bottom: solid 1px #dddddd;
  padding: 5px 0;
  margin: 0 10px;
}
/* line 141, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#main div#user-info, div#main div#user-invite {
  margin: 15px 10px;
}

/* line 145, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#footer {
  margin: 25px;
}
/* line 148, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#footer a:hover {
  border-bottom: 2px solid #f8da00;
}

/* line 152, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#flash {
  background-image: url("/images/dark_transparency.png");
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
/* line 161, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#flash div.message {
  height: 64px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 166, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#flash div.message p {
  margin: 0 100px;
  padding: 20px;
}
/* line 170, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#flash div.message.error {
  background: url("/stylesheets/themes/nemum/images/flash/error.png") no-repeat 0 50%;
}
/* line 173, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#flash div.message.warning {
  background: url("/stylesheets/themes/nemum/images/flash/warning.png") no-repeat 0 50%;
}
/* line 176, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#flash div.message.info, div#flash div.message.notice {
  background: url("/stylesheets/themes/nemum/images/flash/notice.png") no-repeat 0 50%;
}

/* line 180, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#archives {
  float: right;
  margin: 10px;
}
/* line 184, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#archives a:hover {
  border-bottom: 3px solid #f8da00;
}

/* line 193, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#social-buttons {
  margin: 0 10px 5px;
  clear: both;
}
/* line 197, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#social-buttons iframe {
  vertical-align: bottom;
}
/* line 200, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#social-buttons a span {
  border: 1px solid #5f78ab;
  border-bottom: 1px solid #29447e;
}

/* line 210, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#announcements {
  border-left: 2px solid #444444;
  border-right: 2px solid #444444;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
}
/* line 217, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div#announcements a:hover {
  border: none;
}

/* line 221, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.announcement-tail {
  display: none;
}

/* line 225, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.announcements-bar {
  background: url("/images/dark_transparency.png");
  cursor: default;
  padding: 12px;
  position: absolute;
  -moz-border-radius: 0 0 12px 0;
  -webkit-border-radius: 0 0 12px 0;
  border-radius: 0 0 12px 0;
  behavior: url("/stylesheets/pie.htc");
}

/* line 234, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.announcement-block img {
  height: 250px;
  width: 730px;
}

/* line 239, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.announcement-text {
  background: url("/images/dark_transparency.png");
  bottom: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  width: 300px;
  -moz-border-radius: 12px 0 0 0;
  -webkit-border-radius: 12px 0 0 0;
  border-radius: 12px 0 0 0;
  behavior: url("/stylesheets/pie.htc");
}
/* line 249, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.announcement-text p.title {
  padding: 0 0 15px;
}

/* line 259, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
body#pages_show div#main ul li, body#pages_show div#main ol li {
  list-style-position: inside;
  margin: 15px 30px;
}
/* line 262, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
body#pages_show div#main ul li {
  list-style-type: disc;
}
/* line 264, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
body#pages_show div#main ol li {
  list-style-type: decimal;
}

/* line 273, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.post {
  margin: 0 0 30px;
}

/* line 277, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.entrybody {
  margin: 0 10px;
}
/* line 280, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.entrybody ul {
  list-style: circle;
  padding-left: 5px;
}

/* line 285, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.post-image {
  float: left;
  margin: 0 15px 5px 0;
}

/* line 290, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.meta {
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 10px;
}
/* line 295, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.meta a:hover {
  border-bottom: 2px solid #f8da00;
}

/* line 304, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.avatar {
  float: left;
  margin-right: 20px;
}
/* line 308, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
div.avatar img {
  border: 1px solid #999999;
}

/* line 312, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
span.comment-meta {
  display: block;
  clear: both;
}

/* line 317, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
ol.comment-list p {
  padding: 15px 0 0;
}

/* line 326, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
button, a.button, input.button {
  background-color: #e9e9e9;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#e9e9e9)";
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 336, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
button:active, a.button:active, input.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f9f9f9));
  background: -moz-linear-gradient(top, #e9e9e9, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#f9f9f9)";
  behavior: url("/stylesheets/pie.htc");
}

/* line 341, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
a.button {
  padding: 6px 10px;
}

/* line 345, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
input.button {
  padding: 5px 10px !important;
}

/* line 349, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
button {
  padding: 5px 10px;
}

/* line 353, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
*:first-child + html input[type] {
  padding: 2px 10px 3px;
}

/* line 358, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
a.google_ico, a.yahoo_ico {
  margin: 0 0 15px 0;
  width: 90%;
}

/* line 365, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
.selfclear {
  display: inline-block;
  display: block;
}
/* line 366, ../../../../app/stylesheets/themes/nemum/frontend-structure.sass */
.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
