/*
Colors:
  Gray
    #6A6A6A #555 #333 #2E2A2B (official)
  Yellow
    #F8DA00 (official)
  White
    #FFF
*/

/*
============================================================================
= Typography
============================================================================
*/

body                             { font: 0.75em Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif; color: #333; }

a,
a:visited,
a:link,
a:active                         { text-decoration: none; color: #2E2A2B; }
a:hover                          { border-bottom: 3px solid #F8DA00; color: #555; }

h1                               { font-size: 2.5em; }
h2                               { font-size: 2.2em; color: #2E2A2B; }
h3                               { font-size: 1.8em; }
h4                               { font-size: 1.7em; color: #E22; }
h5                               { font-size: 1.5em; }

div#account-info                 { font-size: 1em; line-height: 1em; }
div#account-info span.title      { color: #2E2A2B; font-weight: bold; }

div#main p                       { font-size: 1.1em; text-align: justify; line-height: 1.2em; }
div#main p.inline-errors         { font-size: 0.9em; }
div#main table                   { font-size: 1.1em; line-height: 1.8em; }
div#main th                      { vertical-align: middle; } 

div#footer                       { font-size: 1em; text-align: center; line-height: 1.1em; color: #FFF; }
div#footer a                     { font-weight: bold; color: #F8DA00; }

div#navigation                   { font-size: 1.1em; }
div#navigation li                { text-align: right; }
div#navigation a,
div#navigation a:visited,
div#navigation a:link,
div#navigation a:active          { color: #FFF; }
div#navigation a:hover           { color: #F8DA00; }
div#navigation a.active          { color: #F8DA00; }

div.meta li                      { line-height: 1.4em; }

div#flash div.message p          { color: #FFF; font-size: 1.6em; font-weight: bold; }

div.announcement-text p.title    { font-weight: bold; font-size: 1.2em; }
div.announcement-text,
div.announcements-bar a,
div.announcements-bar a:active,
div.announcements-bar a:hover,
div.announcements-bar a:visited,
div.announcements-bar            { color: #FFF; text-align: justify; }
div.announcements-bar span:hover { color: #F8DA00; }

div#social-buttons               { text-align: right; }


/* Tag cloud */

.nube1                           { font-size: 1.0em; }
.nube2                           { font-size: 1.2em; }
.nube3                           { font-size: 1.4em; }
.nube4                           { font-size: 1.6em; }
.nube5                           { font-size: 1.8em; }
.nube6                           { font-size: 2.0em; }
.selected                        { font-weight: bold; color: #999; }
