/*
  Frontend layout properties
*/

html, body {padding: 0;margin: 0;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;}

/* Clean inheritance properties */

div#left-bar,
div#navigation,
#header,
div#account-info,
div#content,
div#announcements,
div#posts,
div#footer            { margin: 0px; padding: 0px; border: 0px; width: auto;}

/* layout properties */

div#container         { width: 960px; margin: auto; }
div#wrapper           { width: 760px; margin-left: 200px;z-index: 1; position: relative; }
div#header            { float:left;width: 200px; z-index: 0; position: relative;}
div#header #navigation{ text-align: right; }
div#navigation        { padding: 15px;}
div#site-title        { margin-bottom: 80px; margin-top: 100px;}
#site-title h1 a      { background: url(""); height: 120px; max-width: 200px;}
div#account-info      { text-align: right; padding: 5px 15px 10px 15px;}
#account-info .title  { float: left;}
div#content           { padding: 15px; margin-right: 200px;}
div#content p         { margin-bottom: 0;}
div#sidebar           { float: right; width: 170px; height: auto;padding: 15px; padding-top: 15px;}
div#main              { z-index: 2; position: relative;}
div#announcements     { margin-left:15px; margin-right: 15px; margin-bottom: 0; height: 250px; overflow: hidden;z-index: 0; position: relative;}
div#posts             { }
div#secondary-sidebar { float: left;width: 544px; height: 100px;}
div#whitespace        { min-height: 100px; margin-left: 15px; margin-right: 15px; }
div#footer            { margin-left: 15px; margin-right: 15px; padding: 15px; padding-top: 20px;text-align: center;}

#announcements        { position: absolute; top: 0;}
.announcement-tail    { display: none; }
.announcements-bar    { position: absolute; top: 5px; left: 5px; padding: 5px; z-index: 1; background: url("../../../images/announcements/transparent.png"); }
/*.announcement-block   { position: absolute; top: 0; }*/
.announcement-block img { width: 730px; height: 250px; z-index: 0; }
.announcement-text      { position: absolute; bottom: 0px; right: 0; z-index: 1; background: url("../../../images/announcements/transparent.png");  }

#posts .post            { padding-top: 15px; }

