/*
============================================================================
= Resources
============================================================================
*/


/* account-info */
.user_ico     { background: url("icons/user.png") no-repeat;     padding-left: 18px;}
.logout_ico   { background: url("icons/door_in.png") no-repeat;  padding-left: 18px;}
.user_add_ico { background: url("icons/user.png") no-repeat;     padding-left: 18px;}
.login_ico    { background: url("icons/door_out.png") no-repeat; padding-left: 18px;}
.google_ico   { background: url("icons/google.ico") no-repeat;   padding-left: 18px;}
.key_ico      { background: url("icons/key.png") no-repeat;   padding-left: 18px; }
