/* line 1, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body {
  font-size: 13px;
}
/* line 4, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body a {
  border-bottom: 2px solid #f8da00;
}
/* line 7, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body p {
  margin: 0 0 15px;
  text-align: justify;
}
/* line 11, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table {
  font-size: 13px;
  line-height: 25px;
  border-collapse: collapse;
  width: 100%;
}
/* line 17, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table td {
  border-bottom: 1px solid #dddddd;
  padding: 5px 10px;
  margin: 0 10px;
}
/* line 22, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table th {
  background-color: #f8da00;
  border-bottom: solid 1px #dddddd;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 10px;
  color: #444444;
  text-shadow: 0 1px 0 #eeeeee;
}
/* line 31, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table tr:first-child {
  border-top: 1px solid #dddddd;
}
/* line 34, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body strong {
  font-weight: bold;
}
/* line 37, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body cite, div.textile-body em {
  font-style: italic;
}
/* line 40, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ul {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 44, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ol {
  list-style-type: decimal;
  list-style-position: inside;
}
/* line 48, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body li {
  margin: 10px 30px;
}
/* line 51, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body pre, div.textile-body code, div.textile-body tt {
  font-family: "lucida console", Monospace;
}

/* line 6, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
body {
  background-color: #2e2b2c;
}

/* line 10, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
h2 {
  margin: 0 0 15px;
}
/* line 13, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
h2 a:hover {
  border-bottom: 3px solid #f8da00;
}

/* line 17, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
h3, h4 {
  margin: 0 0 10px;
}

/* line 21, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
h5 {
  margin: 0 0 10px;
}

/* line 25, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
hr {
  background-color: #dddddd;
  border: none;
  clear: left;
  height: 1px;
  margin: 15px 0;
}

/* line 33, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#container {
  margin: auto;
  width: 960px;
}

/* line 38, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#header {
  float: left;
  position: relative;
  width: 200px;
  z-index: 0;
}

/* line 45, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#wrapper {
  margin: 0 0 0 200px;
}

/* line 49, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#navigation {
  background-color: #555555;
  padding: 12px 13px 12px;
  width: 175px;
  -moz-border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  border-radius: 12px 0 0 12px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 56, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#navigation li {
  margin: 5px;
}
/* line 59, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#navigation a:hover {
  border: none;
}

/* line 63, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#navigation div#tag-cloud {
  background: url("/stylesheets/themes/nemum/images/line.png") no-repeat top right;
  margin: 10px 5px 5px 0;
}
/* line 67, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#navigation div#tag-cloud h5 {
  margin: 0 0 5px;
  padding: 10px 0 0;
}

/* line 72, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#tag-search-bar {
  margin: 0 0 15px;
}
/* line 75, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#tag-search-bar div#tags {
  margin: 10px;
}

/* line 79, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#site-title {
  margin: 100px 0 80px;
}
/* line 82, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#site-title div#flash-content {
  min-height: 120px;
}

/* line 86, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#account-info {
  background-color: white;
  padding: 5px 15px 8px;
  position: relative;
  z-index: 1;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  -moz-box-shadow: 0 0 15px #333333;
  -webkit-box-shadow: 0 0 15px #333333;
  box-shadow: 0 0 15px #333333;
  behavior: url("/stylesheets/pie.htc");
}
/* line 95, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#account-info span.options {
  float: right;
}
/* line 98, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#account-info span.options a:hover {
  border-bottom: 2px solid #f8da00;
}

/* line 102, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#main {
  background-color: white;
  padding: 20px;
  position: relative;
  z-index: 1;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  -moz-box-shadow: 0 0 15px #333333;
  -webkit-box-shadow: 0 0 15px #333333;
  box-shadow: 0 0 15px #333333;
  behavior: url("/stylesheets/pie.htc");
}

/* line 112, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.entrybody {
  margin: 0 10px;
}

/* line 116, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#user-info, div#user-invite {
  margin: 15px 10px;
}

/* line 120, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#footer {
  margin: 25px;
}
/* line 123, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#footer a:hover {
  border-bottom: 2px solid #f8da00;
}

/* line 127, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#flash {
  background-image: url("/images/dark_transparency.png");
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
/* line 136, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#flash div.message {
  margin: 0 0 0 30px;
}
/* line 139, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#flash div.message p {
  margin: 0 70px;
  padding: 20px;
}
/* line 143, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#flash div.message.error {
  background: url("/stylesheets/themes/nemum/images/flash/error.png") no-repeat 0 50%;
}
/* line 146, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#flash div.message.warning {
  background: url("/stylesheets/themes/nemum/images/flash/warning.png") no-repeat 0 50%;
}
/* line 149, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#flash div.message.info, div#flash div.message.notice {
  background: url("/stylesheets/themes/nemum/images/flash/notice.png") no-repeat 0 50%;
}

/* line 153, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
ul.list li {
  margin: 15px 0;
}

/* line 157, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#archives {
  float: right;
  margin: 10px;
}
/* line 161, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#archives a:hover {
  border-bottom: 3px solid #f8da00;
}

/* line 170, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#social-buttons {
  margin: 0 10px 5px;
  clear: both;
}
/* line 174, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#social-buttons iframe {
  vertical-align: bottom;
}
/* line 177, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#social-buttons a span {
  border: 1px solid #5f78ab;
  border-bottom: 1px solid #29447e;
}

/* line 187, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#announcements {
  border-left: 2px solid #444444;
  border-right: 2px solid #444444;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
}
/* line 194, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div#announcements a:hover {
  border: none;
}

/* line 198, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.announcement-tail {
  display: none;
}

/* line 202, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.announcements-bar {
  background: url("/images/dark_transparency.png");
  cursor: default;
  padding: 10px 10px 13px 13px;
  position: absolute;
  -moz-border-radius: 0 0 12px 0;
  -webkit-border-radius: 0 0 12px 0;
  border-radius: 0 0 12px 0;
  behavior: url("/stylesheets/pie.htc");
}

/* line 211, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.announcement-block img {
  height: 250px;
  width: 730px;
}

/* line 216, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.announcement-text {
  background: url("/images/dark_transparency.png");
  bottom: 0;
  padding: 14px 12px 12px 14px;
  position: absolute;
  right: 0;
  width: 300px;
  -moz-border-radius: 12px 0 0 0;
  -webkit-border-radius: 12px 0 0 0;
  border-radius: 12px 0 0 0;
  behavior: url("/stylesheets/pie.htc");
}
/* line 226, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.announcement-text p.title {
  padding: 0 0 15px;
}

/* line 236, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
body#pages_show div#main ul li, body#pages_show div#main ol li {
  list-style-position: inside;
  margin: 15px 30px;
}
/* line 239, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
body#pages_show div#main ul li {
  list-style-type: disc;
}
/* line 241, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
body#pages_show div#main ol li {
  list-style-type: decimal;
}

/* line 250, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.post {
  margin: 0 0 30px;
}

/* line 254, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.post-image {
  float: left;
  margin: 0 15px 5px 0;
}

/* line 259, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.meta {
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 10px;
}
/* line 264, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.meta a:hover {
  border-bottom: 2px solid #f8da00;
}

/* line 273, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.avatar {
  float: left;
  margin-right: 20px;
}
/* line 277, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.avatar img {
  border: 1px solid #999999;
}

/* line 281, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
span.comment-meta {
  clear: both;
  display: block;
}

/* line 286, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
div.new-comment {
  padding: 0 15px;
}

/* line 290, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
ol.comment-list {
  margin: 15px;
}
/* line 293, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
ol.comment-list p {
  padding: 15px 0 0 72px;
}

/* line 302, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
button, a.button, input.button {
  background-color: #e9e9e9;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#e9e9e9)";
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 312, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
button:active, a.button:active, input.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f9f9f9));
  background: -moz-linear-gradient(top, #e9e9e9, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#f9f9f9)";
  behavior: url("/stylesheets/pie.htc");
}

/* line 317, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
a.button {
  padding: 6px 10px;
}

/* line 321, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
input.button {
  padding: 5px 10px !important;
}

/* line 325, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
button {
  padding: 5px 10px;
}

/* line 329, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
ul.buttons {
  margin: 15px 0;
}
/* line 332, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
ul.buttons a {
  margin: 0 10px 0 0;
}

/* line 336, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
*:first-child + html input[type] {
  padding: 2px 10px 3px;
}

/* line 341, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
a.google_ico, a.yahoo_ico {
  margin: 0 0 15px 0;
  width: 90%;
}

/* line 348, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
.selfclear {
  display: inline-block;
  display: block;
}
/* line 349, ../../../../app/themes/sass/partials/_pills/frontend-structure.sass */
.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 6, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
body {
  color: #2e2e2e;
  font: 12px Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif;
}

/* line 11, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
a, a:active, a:link, a:visited {
  color: #2e2e2e;
  text-decoration: none;
}

/* line 16, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
a:hover {
  color: #555555;
}

/* line 20, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
h1 {
  font-size: 28px;
}

/* line 24, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
h2 {
  font-size: 24px;
}

/* line 28, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
h3 {
  font-size: 20px;
}

/* line 32, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
h4 {
  font-size: 16px;
}

/* line 36, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
h5 {
  font-size: 14px;
}

/* line 40, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
p.inline-errors {
  font-size: 11px;
}

/* line 44, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#account-info span.title {
  font-weight: bold;
}

/* line 48, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div.announcement-text {
  color: white;
  text-align: justify;
}

/* line 53, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div.announcement-text p.title {
  font-size: 14px;
  font-weight: bold;
}

/* line 58, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div.announcements-bar {
  color: white;
  text-align: justify;
}
/* line 62, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div.announcements-bar a, div.announcements-bar span {
  color: white;
  text-align: justify;
}
/* line 66, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div.announcements-bar a:hover, div.announcements-bar span:hover {
  color: #f8da00;
}

/* line 70, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation {
  color: white;
  font-size: 13px;
  text-align: right;
}
/* line 75, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation a, div#navigation a:active, div#navigation a:link, div#navigation a:visited {
  color: white;
}
/* line 78, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation a:hover, div#navigation a.active {
  color: #f8da00;
}
/* line 83, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a {
  color: #cccccc;
}
/* line 86, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a:hover {
  color: #f8da00;
}
/* line 89, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a.nube1 {
  font-size: 10px;
}
/* line 92, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a.nube2 {
  font-size: 12px;
}
/* line 95, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a.nube3 {
  font-size: 14px;
}
/* line 98, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a.nube4 {
  font-size: 16px;
}
/* line 101, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a.nube5 {
  font-size: 18px;
}
/* line 104, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a.nube6 {
  font-size: 20px;
}
/* line 107, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#navigation div#tag-cloud a.selected {
  font-weight: bold;
}

/* line 111, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#tag-search-bar {
  font-size: 14px;
}
/* line 114, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#tag-search-bar span#tagged-with {
  font-size: 16px;
}
/* line 117, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#tag-search-bar span#clear-link {
  font-size: 12px;
}

/* line 121, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div.meta li {
  line-height: 18px;
}

/* line 125, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#flash div.message p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* line 131, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#archives {
  font-size: 14px;
}

/* line 135, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#footer {
  color: white;
  text-align: center;
}
/* line 139, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#footer a {
  color: #f8da00;
  font-weight: bold;
}

/* line 149, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
ol.comment-list a.author {
  font-weight: bold;
}

/* line 152, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
ol.comment-list span.comment-meta {
  text-align: right;
}

/* line 161, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
div#social-buttons {
  text-align: right;
}

/* line 170, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
button, a.button {
  text-decoration: none;
}

/* line 174, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
button, input.button {
  line-height: 16px;
}

/* line 178, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
button, a.button, input.button {
  color: #2e2e2e;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center;
}

/* line 185, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
button.positive:hover, a.positive:hover, input.positive:hover {
  color: #559911;
}

/* line 189, ../../../../app/themes/sass/partials/_pills/frontend-typography.sass */
button.negative:hover, a.negative:hover, input.negative:hover {
  color: #dd3322;
}

/* line 1, ../../../../app/themes/sass/partials/_pills/frontend-icons.sass */
.male {
  background: url("/images/icons/male.png") 0 50% no-repeat;
  padding: 0 0 0 20px;
}

/* line 6, ../../../../app/themes/sass/partials/_pills/frontend-icons.sass */
.female {
  background: url("/images/icons/female.png") 0 50% no-repeat;
  padding: 0 0 0 20px;
}

/* line 11, ../../../../app/themes/sass/partials/_pills/frontend-icons.sass */
div#tags a {
  background: url("/images/icons/tag_delete.png") no-repeat 0 50%;
  padding: 0 10px 0 20px;
}

/* line 16, ../../../../app/themes/sass/partials/_pills/frontend-icons.sass */
fieldset.buttons li a.google_ico {
  background-color: #f5f5f5;
  background-image: url("/images/google.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

/* line 23, ../../../../app/themes/sass/partials/_pills/frontend-icons.sass */
fieldset.buttons li a.yahoo_ico {
  background-color: #f5f5f5;
  background-image: url("/images/yahoo.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
