/*
============================================================================
= General Structure
============================================================================
*/


body                          { background-color: #2E2A2B; behavior: url("/stylesheets/ie-css3.htc"); }

h2                            { margin: 0 0 15px; }
h3                            { margin: 0 0 1em; }
h4                            { margin: 0 0 1em; }

hr                            { clear: left; background-color: #DDD; height: 1px; border: none; margin: 15px 0; }

div#container                 { margin: auto; width: 960px; }
div#wrapper                   { margin-left: 200px; position: relative; width: 760px; z-index: 1; }
div#header                    { float: left; position: relative; width: 200px; z-index: 0; }

div#navigation div#tag-cloud  { background: url("/stylesheets/themes/nemum/images/line.png") no-repeat top right; margin: 1em 0.5em 0 0; }
div#navigation div#tag-cloud h2 { padding: 1em 0 0; margin: 0 0 0.5em; }

div#tag-search-bar            { margin: 0 0 1em; font-size: 1.1em; }
div#tag-search-bar div#tags   { margin: 10px 0 10px 10px; }
div#tag-search-bar div#tags a { border: none; background: url("/stylesheets/themes/nemum/icons/tag_delete.png") no-repeat; padding: 0     5px 0 18px; }

div#navigation                { background-color: #555; padding: 1em; width: 175px; }
div#navigation li             { margin: 0.5em; }
div#navigation a:hover,
div#site-title a:hover        { border: none; }
div#site-title                { margin: 100px 0 80px; }
div#site-title h1 a           { display: block; height: 120px; max-width: 200px; text-indent: -6000px}
div#site-title h1 a           { background: url("/stylesheets/themes/nemum/images/bg_logo.png") no-repeat; }
div#account-info              { background-color: #FFF; padding: 5px 15px 10px; position: relative; z-index: 1; }
div#content.double            { margin-right: 185px; min-height: 200px; }
div#content p                 { margin: 0 0 1em; }
div#content table             { margin: 0 0 1em; }
div#main                      { background-color: #FFF; padding: 20px; position: relative; z-index: 2; }
div#main p                    { margin: 0 0 1.2em; }

div#main table                { border-collapse: collapse; width: 100%; } /* border-collapse ta a broquear padding */
div#main td,
div#main th                   { border-bottom: solid 1px #DDD; padding: 0.4em 0; margin: 0 10px; }

div#main div#user-info        { margin: 15px 10px; }
div#main div#user-invite      { margin: 15px 10px; }

div.meta                      { background-color: #EEE; margin: 0 10px; padding: 0.8em; }
div#footer                    { margin: 1.5em; }

div#flash                     { background-image: url("/images/dark_transparency.png"); padding: 1em 0; position: fixed; }
div#flash                     { width: 100%; left: 0; bottom: 0; border-top: 1px solid #000; }
div#flash div.message         { height: 64px; }
div#flash div.message p       { margin: 0 100px; padding: 20px; }
div#flash div.message.error   { background: url("/stylesheets/themes/nemum/images/flash/error.png") no-repeat 0 50%; }
div#flash div.message.warning { background: url("/stylesheets/themes/nemum/images/flash/warning.png") no-repeat 0 50%; }
div#flash div.message.info,
div#flash div.message.notice  { background: url("/stylesheets/themes/nemum/images/flash/notice.png") no-repeat 2% 50%; }

div#archives                  { float: right; margin: 0 10px; }

span.options                  { float: right; }
.pagination a:hover,
.meta a:hover,
.options a:hover,
#archives a:hover,
div#footer a:hover            { border-bottom: 2px solid #F8DA00; }

/* Social buttons */

div#social-buttons            { margin: 0 10px 5px; clear: both; }
div#social-buttons iframe     { vertical-align: bottom; }
div#social-buttons a span     { border: 1px solid #5F78AB; border-bottom: 1px solid #29447E; }

/* Announcements */

div#announcements             { margin: 0 15px; overflow: hidden; z-index: 0; position: relative; }
div#announcements             { border-left: 1px solid #555; border-right: 1px solid #555; }
div#announcements a:hover     { border: none; }
div.announcement-tail         { display: none; }
div.announcements-bar         { padding: 0.8em; position: absolute; z-index: 1; cursor: default; }
div.announcements-bar         { background: url("/images/dark_transparency.png"); }
div.announcement-block img    { height: 250px; width: 730px; }
div.announcement-text         { bottom: 0; position: absolute; right: 0; z-index: 1; }
div.announcement-text         { background: url("/images/dark_transparency.png"); padding: 1.2em; width: 300px; }
div.announcement-text p.title { padding: 0 0 1em; }

/* Pages */

body#pages_show div#main ul li,
body#pages_show div#main ol li { list-style-position: inside; margin: 1.5em 30px; }
body#pages_show div#main ul li { list-style-type: disc; }
body#pages_show div#main ol li { list-style-type: decimal; }
body#pages_show div#main p     { margin: 1.2em 10px; }

/* Posts */

div.post                      { margin: 0 0 2.5em; }
div.entrybody ul              { padding-left: 5px; list-style: circle; }
div.entrybody                 { margin: 0 10px; }
div.post-image                { float: left; margin: 0 15px 5px 0; }
.related                      { padding-bottom: 15px; } /* Ver depois */

/* Comments */

div.avatar                    { margin-right: 20px; float: left; }
div.avatar img                { border: 1px solid #999; }
span.comment-meta             { display: block; clear: both; }
div.new-comment               { padding: 0 0.8em; }
ol.comment-list               { padding: 0.8em; }
ol.comment-list p             { padding: 1.1em 0 0; }

/* Buttons */

button,
a.button,
input.button                  { cursor: pointer; float: left; background-color: #F5F5F5; }
button,
a.button,
a.button:hover,
input.button                  { border: 1px solid #AAA; }

a.button                      { padding: 6px 10px; }
input.button                  { padding: 5px 10px !important; }
button                        { padding: 5px 10px; }

button,
a.button,
input.button                  { background: -webkit-gradient(linear,0% 30%,0% 90%,from(#F9F9F9),to(#E9E9E9)); background: -moz-linear-gradient(top, #FFF, #E9E9E9); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#E9E9E9); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#E9E9E9"; }
button:active,
a.button:active,
input.button:active           { background: -webkit-gradient(linear,0% 30%,0% 90%,from(#E9E9E9),to(#F9F9F9)); background: -moz-linear-gradient(top, #E9E9E9, #FFF); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E9E9E9, endColorstr=#F9F9F9); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E9E9E9, endColorstr=#F9F9F9"; }

button,
a.button,
input.button                  { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

*:first-child+html input[type] { padding: 2px 10px 3px; /* IE7 */ }

a.google_ico,
a.yahoo_ico                   { margin: 0 0 15px 0; width: 90% }

/* Self-clearing floats and IE hacks */

.hidden                       { display: none; }
.selfclear:after              { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.selfclear                    { display: inline-block; /* IE 7 */ }
.selfclear                    { display: block; }
* html .selfclear             { height: 1px; /* IE < 7 */ }
* html .resource-list tr.table-header { background: #000; /* IE < 7 */}

/* Rounded borders */

div#main,
div#navigation,
div#account-info { -moz-border-radius-bottomleft: 12px; -webkit-border-bottom-left-radius: 12px; border-bottom-left-radius: 12px; }

div.announcements-bar,
div#main,
div#account-info { -moz-border-radius-bottomright: 12px; -webkit-border-bottom-right-radius: 12px; border-bottom-right-radius: 12px; }

div.announcement-text,
div#main,
div#navigation   { -moz-border-radius-topleft: 12px; -webkit-border-top-left-radius: 12px; border-top-left-radius: 12px; }

div#main         { -moz-border-radius-topright: 12px; -webkit-border-top-right-radius: 12px; border-top-right-radius: 12px; }

div#flash div.message { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Shadows */

div#main,
div#account-info { -moz-box-shadow: 0 0 15px #333; -webkit-box-shadow: 0 0 15px #333; box-shadow: 0 0 15px #333; }
