<div id="announcement<%= announcement_counter+1 %>" class="announcement-block <%= 'announcement-tail' if announcement_counter > 0 %>">
  <img src="<%= announcement.avatar.url(:medium) %>"  />
  <div class="announcement-text">
    <p><%= announcement.headline %></p>
  </div>
</div>
