<div id="announcement<%= announcement_counter+1 %>" class="announcement-block <%= 'announcement-tail' if announcement_counter > 0 %>">
  <img src="images/announcements/<%= announcement.id %>.png"  />
  <div class="announcement-text">
    <p><%= announcement.headline %></p>
  </div>
</div>
