// ============================================================================
// Rules
// ============================================================================


body
  background-color: $frontend-background-color
  background-image: url("/stylesheets/themes/atrevete/images/bg_down.png")
  background-repeat: repeat
  overflow-x: hidden


h2.title, h3.archives-month-title
  margin: 0 0 $content-margin

  a:hover
    border-bottom: 3px solid $default-color


hr
  background-color: #DDD
  border: none
  clear: left
  height: 1px
  margin: $content-margin 0


div#bg-top-back
  background-image: url("/stylesheets/themes/atrevete/images/bg_top_back.png")
  background-repeat: repeat-x
  position: absolute
  height: 475px
  width: 100%
  @include box-shadow(0, 0, 10px, #222)
  @include enable-ie-css3


div#target
  background-image: url("/stylesheets/themes/atrevete/images/target.png")
  background-repeat: no-repeat
  height: 614px
  left: 200px
  position: absolute
  top: -70px
  width: 614px


div#bg-top-front
  background-image: url("/stylesheets/themes/atrevete/images/bg_top_front.png")
  background-repeat: repeat-x
  height: 240px
  overflow: hidden
  position: relative
  top: 130px
  z-index: 1
  @include box-shadow(0, 0, 10px, #222)
  @include enable-ie-css3


div#man-and-arrows
  background-image: url("/stylesheets/themes/atrevete/images/man_and_arrows.png")
  float: left
  height: 220px
  margin: 10px 40px
  width: 520px


div.secondary-wrapper
  margin: auto
  position: relative
  width: 980px


span.site-title
  display: block
  padding: 30px 0 30px 600px
  width: 250px

  span
    border-bottom: 3px solid #FFF
    line-height: 1.5em


span.options
  float: right
  margin: 15px 0 0


div#logo
  background: url("/logo.png") no-repeat
  float: left
  height: 85px
  margin: 20px 0 0
  width: 198px


div#primary-wrapper
  background-image: url("/stylesheets/themes/atrevete/images/bg_content.png")
  background-repeat: repeat
  margin: 130px auto 0
  min-height: 300px
  padding-top: 40px
  position: relative
  width: 980px


div#menu
  position: absolute
  right: 0
  top: 100px

  ul li
    display: inline
    margin: 0 1px 0

    a
      background: url("/stylesheets/themes/atrevete/images/button_idle.png")
      padding: 15px 25px
      @include round-corners(8px, 8px, 0, 0)
      @include enable-ie-css3

    a:hover, .current
      background: url("/stylesheets/themes/atrevete/images/button_hover.png")


div#content.single
  margin: 0 40px 30px


div#content.double
  float: left
  width: 710px
  margin: 0 30px 30px 40px


div.content-body
  margin: 0 10px


div#tag-menu
  margin: 0 30px 20px 760px
  min-height: 100px
  position: relative
  width: 175px

  h2
    margin: 0
    padding: 0 0 10px 20px

  li
    color: $default-color
    list-style: square
    margin-left: 40px

  a
    display: block
    padding: 5px 0

  a:hover
    color: $default-color
    border-bottom: none !important


div#user-info, div#user-invite
  margin: $content-margin 10px


div#organization
  margin: 0 30px 20px 760px
  position: relative
  width: 175px

  div.organization-logo
    background-color: #FFF
    display: inline-block
    height: 75px
    width: 75px

  div#aac-logo
    background-image: url("/stylesheets/themes/atrevete/images/aac.png")

  div#aauav-logo
    background-image: url("/stylesheets/themes/atrevete/images/aauav.png")

  div#aaum-logo
    background-image: url("/stylesheets/themes/atrevete/images/aaum.png")

  div#aautad-logo
    background-image: url("/stylesheets/themes/atrevete/images/aautad.png")

  div#aefcup-logo
    background-image: url("/stylesheets/themes/atrevete/images/aefcup.png")


div#sponsors
  margin: 80px auto 60px
  width: 980px

  h2
    color: #FFF
    font-size: 20px
    line-height: 0

  div.sponsor-logo
    background-color: #000
    display: inline-block
    height: 100px
    margin: 20px
    width: 100px
    filter: alpha(opacity=20)
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
    -moz-opacity: 0.2
    -khtml-opacity: 0.2
    opacity: 0.2


div#footer
  margin: 25px

  a:hover
    border-bottom: 2px solid $default-color


div#flash
  background-image: url("/images/dark_transparency.png")
  border-top: 1px solid #222
  bottom: 0
  left: 0
  padding: 15px 0
  position: fixed
  width: 100%
  z-index: 1

  div.message
    margin: 0 0 0 30px

    p
      margin: 0 70px
      padding: 20px

  div.message.error
    background: url("/stylesheets/themes/atrevete/images/flash/error.png") no-repeat 0 50%

  div.message.warning
    background: url("/stylesheets/themes/atrevete/images/flash/warning.png") no-repeat 0 50%

  div.message.info, div.message.notice
    background: url("/stylesheets/themes/atrevete/images/flash/notice.png") no-repeat 0 50%


// =============
// Announcements
// =============


div#announcements
  border: 2px dashed #3A6B79
  height: 200px
  overflow: hidden
  position: absolute
  right: 0
  top: 20px
  width: 690px

  a
    display: block

  a:hover
    border: none


div.announcement
  position: relative
  z-index: -1


div.announcement-tail
  display: none


div#announcement-numbers
  background: url("/images/dark_transparency.png")
  cursor: default
  padding: 10px 10px 13px 13px
  position: absolute
  left: 0
  @include round-corners(0, 0, 2px, 0)
  @include enable-ie-css3

  a
    display: inline-block


div.announcement img
  height: 200px
  width: 690px


div.announcement-text
  background: url("/images/dark_transparency.png")
  bottom: 0
  padding: 14px 12px 12px 14px
  position: absolute
  right: 0
  width: 300px
  @include round-corners(2px, 0, 0, 0)
  @include enable-ie-css3

  p.title
    padding: 0 0 15px


// =====
// Posts
// =====


div.post-image a
  border: none


div.meta
  background-color: transparent
  border: 1px solid $default-color
  @include round-corners(3px, 3px, 3px, 3px)
  @include enable-ie-css3
