@mixin linear-gradient($start-color, $end-color)
  background: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color))
  background: -moz-linear-gradient(top, $start-color, $end-color)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="+$start-color+", endColorstr="+$end-color+")"


@mixin round-corners($top-left, $top-right, $bottom-right, $bottom-left)
  -moz-border-radius: $top-left $top-right $bottom-right $bottom-left
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left
  border-radius: $top-left $top-right $bottom-right $bottom-left


@mixin box-shadow($right, $bottom, $blur, $color)
  -moz-box-shadow: $right $bottom $blur $color
  -webkit-box-shadow: $right $bottom $blur $color
  box-shadow: $right $bottom $blur $color


@mixin text-shadow($right, $bottom, $blur, $color)
  -moz-text-shadow: $right $bottom $blur $color
  -webkit-text-shadow: $right $bottom $blur $color
  text-shadow: $right $bottom $blur $color


@mixin enable-ie-css3
  behavior: url("/stylesheets/pie.htc")
