div.textile-body

  a
    border-bottom: 2px solid $default-color

  p
    font-size: 13px
    margin: 0 0 15px
    text-align: justify

  p.inline-errors
    font-size: 10px

  table
    font-size: 13px
    line-height: 25px
    border-collapse: collapse
    width: 100%

    td
      border-bottom: 1px solid #DDD
      padding: 5px 10px
      margin: 0 10px

    th
      background-color: $default-color
      border-bottom: solid 1px #DDD
      font-weight: bold
      padding: 5px 10px
      margin: 0 10px
      color: $table-th-text-color
      text-shadow: 0 1px 0 $table-th-text-shadow-color

    tr:first-child
      border-top: 1px solid #DDD

  strong
    font-weight: bold

  cite, em
    font-style: italic

  ul
    list-style-type: disc
    list-style-position: inside

  ol
    list-style-type: decimal
    list-style-position: inside

  li
    margin: 10px 30px

  pre, code, tt
    font-family: 'lucida console', Monospace
