div.textile-body

  strong
    font-weight: bold

  cite, em
    font-style: italic

  ul
    list-style-type: disc
    margin: 0 0 0 20px

  ol
    list-style-type: decimal
    margin: 0 0 0 20px

  pre, code, tt
    font-family: 'lucida console', Monospace
