/*
 ============================================================================
 = Typography
 ============================================================================
*/

div.todo_list div.todos div.add_button a,
div.todo_list div.todos span.todo_edit a,
div.todo_list div.todos span.todo_delete a                          { color: red; font-size: 0.9em; }
div.todo_list div.todos div.add_button a:hover,
div.todo_list div.todos span.todo_edit a:hover,
div.todo_list div.todos span.todo_delete a:hover                    { text-decoration: underline; }

div.todo_list div.todos ul li.done_todo                             { color: #999; font-size: 0.9em; }
div.todo_list div.todos ul li.done_todo strong.date_finished        { color: #555; }

div.todo_list div.description p                                     { font-style: italic; }
div.todo_list div.todos ul li.todo span.todo_content span.todo_info { font-size: 0.8em; }
div.todo_list div.todos ul li.todo span.todo_info                   { font-size: 0.9em; }

div#message-header ul li span                                       { color: #999; }

div#message div.entrybody p                                         { text-align: justify; }

div#messages table td.message                                       { line-height: 1.1em; }
div#messages table td.message span.title                            { font-size: 1.5em; line-height: 1.3em; }
div#messages table td.message span.meta                             { color: #999; }

div#comments div.comment div.entrybody p                            { text-align: justify; }

div#comments div.comment span.author                                { font-weight: bold; }
div#comments div.comment span.date                                  { font-size: 0.9em; }
div#comments div.comments_meta span.name                            { font-weight: bold; }
div#comments div.comments_meta span.date                            { font-size: 0.9em; }

div.header div#todo                                                 { font-size: 1.5em; }
div.header div#todo.done                                            { text-decoration: line-through; }
div.header div#todo span.due-date                                   { color: #999; }
div.header div#todo span.responsible                                { font-weight: bold; }

/*
 ============================================================================
 = General Structure
 ============================================================================
*/

hr                                                          { clear: left; background-color: #DDD; height: 1px; border: none; margin: 0; }

div.titles.sortable                                         { padding: 0 0 20px 0; }

div.title span.todo_list_delete                             { display: none; }
div.title:hover span.todo_list_delete                       { display: inline; }
div.title span.todo_list_edit                               { display: none; }
div.title:hover span.todo_list_edit                         { display: inline; }

div.title h2                                                { display: inline; }

div.todo_list                                               { padding: 20px; }
div.todo_list div.description p                             { margin: 0 0 15px; }

div.todo_list div.todos ul.not_done                         { min-height: 15px; }
div.todo_list div.todos ul li.todo span.todo_info           { background: #EEE; padding: 2px; margin: 0 0 0 4px; }
div.todo_list div.todos ul li.todo span.todo_info           { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
div.todo_list div.todos ul li.todo span.todo_edit           { margin: 0 0 0 15px; }
div.todo_list div.todos ul li.todo span.todo_comments       { margin: 0 0 0 4px; }
div.todo_list div.todos span.todo_comments img              { position: relative; top: 4px; }
div.todo_list div.todos ul li.todo                          { margin: 0 0 15px; }
div.todo_list div.todos form.todo                           { background: #E5E5E5; padding: 15px 15px 0; margin: 0; }
div.todo_list div.todos ul li.todo input                    { float: left; }
div.todo_list div.todos ul li.todo.highlight span.todo_desc { background: #FFC; }
div.todo_list div.todos div.add_button                      { background: #EFEFEF; margin: 10px 0 10px 20px; padding: 5px; }

div#message-header ul                                       { clear: left; }
div#message-header ul li                                    { margin: 5px 0; }
div#message-header div#title                                { margin: 0 0 20px; float: left; }

div#messages                                                { padding: 0 0 20px; }
div#message                                                 { overflow: hidden; }
div#message div.avatar                                      { margin: 20px 0 20px 20px; float: right; }
div#message div.avatar img                                  { border: 1px solid #999; }
div#message div.entrybody                                   { margin: 20px 0; }
div#message div.entrybody p                                 { margin: 0 120px 0 0; }

div#messages table                                          { width: 100% }
div#messages table td.message                               { border-bottom: 1px solid #DDD; padding: 10px 7px 10px 0px; }
div#messages table td.message span.title                    { display: block; }

div#comments div.comment                                    { margin: 10px 0; overflow: hidden; }
div#comments div.comment div.avatar                         { margin-right: 20px; float: left; }
div#comments div.comment div.avatar img                     { border: 1px solid #999; }
div#comments div.comment div.entrybody                      { margin: 10px 0 0; }
div#comments div.comment div.entrybody p                    { margin: 0 0 0 70px; }

div#comments span.text                                      { margin: 10px 0; }
div#comments div.comment p                                  { margin: 10px 0 0; }

div.new-comment                                             { margin: 20px 0 0; }

div.header div#todo                                         { margin: 20px 0; padding: 1.2em; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 2px solid #CCC; border-bottom: 2px solid #CCC; }
