<div class="block">
  <h3>User management</h3>
  <div class="content">
    <p>Esta aplicação é um espetaculo para gerir users. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <ul class="navigation"> 
            <li><a href="<%= :users %>"><%=h t("admin.groups.index.sidebar.users.go_to_users") %></a></li> 
   </ul> 
  </div>
</div>
