<div class="block">
  <div id="sidebar_head">
    <h3><%= t("admin.deleted_users.sidebar.title") %></h3>
  </div>
  <div class="content">
    <p><%= t("admin.deleted_users.sidebar.paragraph") %></p>
    <ul class="navigation"> 
      <li><%= link_to t("admin.deleted_users.sidebar.link"), admin_users_path %></li> 
   </ul> 
  </div>
</div>
