<div class="block">
  <div id="sidebar_head">
    <h3><%= t("admin.deleted_users.sidebar.title") %></h3>
  </div>
  <div class="content">
    <p><%= t("admin.deleted_users.sidebar.text") %></p>
    <ul class="navigation"> 
            <li><a href="<%= :users %>"><%=h t("admin.groups.index.sidebar.users.go_to_users") %></a></li> 
   </ul> 
  </div>
</div>
