<div id="clocks">
  <div id="clock-lisbon">
    <canvas id="clock-libon-cv" class="CoolClock:chunkySwiss:50:noSeconds:0:" width="60" height="60" style="width: 60px; height: 60px; "></canvas>
  </div>
  <div id="clock-paris">
    <canvas id="clock-paris-cv" class="CoolClock:chunkySwiss:50:noSeconds:+1" width="60" height="60" style="width: 60px; height: 60px; "></canvas>
  </div>
</div>