<div id="flash-content">

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="260" height="120" id="nebaum" align="middle">
  <param name="movie" value="/nebaum.swf" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="#fff" />
  <param name="play" value="true" />
  <param name="loop" value="true" />
  <param name="wmode" value="window" />
  <param name="scale" value="showall" />
  <param name="menu" value="true" />
  
  <param name="devicefont" value="false" />
  <param name="salign" value="" />
  <param name="allowScriptAccess" value="sameDomain" />
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="/nebaum.swf" width="260" height="120">
    <param name="movie" value="/nebaum.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#fff" />
    <param name="play" value="true" />
  
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="sameDomain" />
  <!--<![endif]-->
  <!--[if !IE]>-->
    </object>
  <!--<![endif]-->
</object>
</div>

