<div id="flash-content">
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="<%= width %>" height="<%= height %>" align="middle">
    <param name="movie" value="/logo.swf" />
    <param name="play" value="true" />
    <param name="loop" value="false" />
    <param name="menu" value="false" />
    <param name="quality" value="high" />
    <param name="scale" value="showall" />
    <param name="wmode" value="transparent" />
    <param name="devicefont" value="false" />
    <param name="allowfullscreen" value="false" />
    <param name="allowscriptaccess" value="sameDomain" />
    <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="/logo.swf" width="<%= width %>" height="<%= height %>" align="middle">
        <param name="movie" value="/logo.swf" />
        <param name="play" value="true" />
        <param name="loop" value="false" />
        <param name="menu" value="false" />
        <param name="quality" value="high" />
        <param name="scale" value="showall" />
        <param name="wmode" value="transparent" />
        <param name="devicefont" value="false" />
        <param name="allowfullscreen" value="false" />
        <param name="allowscriptaccess" value="sameDomain" />
    <!--<![endif]-->
      <a href="/"><img src="/logo.png" /></a>
    <!--[if !IE]>-->
      </object>
    <!--<![endif]-->
  </object>
</div>
