<div id="footer">
  <div class="block">
    <p>© <%= Time.now.year %> <%= link_to configatron.site_name, configatron.site_url %>. All rights reserved.</p>
    <p>
      <% if current_user -%>
        <%=h t 'footer.last_session_paragraph', :time_ago => time_ago_in_words(current_user.last_login_at || Time.now),
                                                :ip       => current_user.last_login_ip %>
      <% end -%>
    </p>

    <!--[if lt IE 7]>
      <p><%= t('footer.browser_warning') %></p>
    <![endif]-->
  </div>
</div>
<% javascript_include_tag "analytics/one" %>
<% javascript_include_tag "analytics/two" %>
