<div id="footer">
  <p><%= t 'footer.default_message', :year => Time.now.year, :site_name => configatron.site_name, :site_url => configatron.site_url %></p>

  <!--[if lt IE 8]>
    <p><%= t 'footer.browser_warning' %></p>
  <![endif]-->

  <% if in_dev? %>
    <p>rendered in <%= Time.now-@start_time %> seconds</p>
  <% end %>
</div>
