<div id="footer">
  <p>Copyright © <%= Time.now.year %> <%= link_to configatron.site_name, configatron.site_url %>. Todos os direitos reservados. Desenvolvido por <%= link_to 'Group Buddies', 'http://www.groupbuddies.com' %>.</p>

  <!--[if lt IE 8]>
    <p><%= t('footer.browser_warning') %></p>
  <![endif]-->
</div>
