<div id="newsletter" class="block">
  <h2 class="title"><%= t('newsletter.title') %></h2>

  <% semantic_form_for :newsletter,
                       :url => newsletter_path,
                       :method => :post,
                       :html => { :class => 'create', :id => 'new_newsletter' } do |form| -%>
  
    <% form.input_field_set do -%>
      <%= form.input :name,
                     :required => false,
                     :label    => t('newsletter.name') %>
      <%= form.input :email,
                     :required => false,
                     :label    => t('newsletter.email') %>
    <% end %>

    <% form.buttons do -%>
      <%= form.commit_button t('admin.announcements.form.create_button'),
                             :button_html => { :class => 'button positive' } %>
    <% end -%>
  <% end %>
</div>