<div id="newsletter" class="block">
  <h2 class="title"><%= t('newsletter.title') %></h2>

  <form action="">
    <label><%= t('newsletter.name') %></label><input type="text" name="name" id="newsletter-name" value="" />
    <label><%= t('newsletter.email') %></label><input type="text" name="email" id="newsletter-email" value="" />
    <input type="submit" value="<%= t('newsletter.subscribe') %>" />
  </form>
</div>