<div id="search" class="block">
  <h2 class="title"><%= t('search.title') %></h2>

  <form action="/posts" method="get">
    <input type="text" name="search" value="" />
    <input type="submit" value="" />
  </form>
</div>