<div id="social-networks">
  <% if networks[:facebook_link] %><a href="<%= networks[:facebook_link] %>"><div id="facebook-link"></div></a><% end %>
  <% if networks[:twitter_link] %><a href="<%= networks[:twitter_link] %>"><div id="twitter-link"></div></a><% end %>
</div>