<div id="social-networks">
  <h2 class="title"><%= t('social_networks.title') %></h2>
  <ul>
    <% if networks[:facebook_link] %><li><a href="<%= networks[:facebook_link] %>">Facebook</a></li><% end %>
    <% if networks[:twitter_link] %><li><a href="<%= neworks[:twitter_link] %>">Twitter</a></li><% end %>
  </ul>
</div>