<div id="support" class="block">
  <h2 class="title"><%= t('supporters.title') %></h2>

  <div id="support-logos">
    <a href="http://www.dieci.pt"><div id="dieci-logo" class="support-logo"></div></a>
    <a href="http://www.casaacademica.pt"><div id="ca-logo" class="support-logo"></div></a>
    <a href="http://sardinhabiba.com/"><div id="sb-logo" class="support-logo"></div></a>
    <a href="http://www.cristorei.com.pt/"><div id="cr-logo" class="support-logo"></div></a>
    <a href="http://www.edp.pt/pt/sustentabilidade/fundacoes/fundacaoedp/"><div id="edp-logo" class="support-logo"></div></a>
    <a href="http://www.meltino.com/"><div id="meltino-logo" class="support-logo"></div></a>
    <a href="http://www.aaum.pt/"><div id="aaum-logo" class="support-logo"></div></a>
    <a href="http://www.uminho.pt"><div id="um-logo" class="support-logo"></div></a>
    <a href="http://www.eng.uminho.pt"><div id="eeg-um-logo" class="support-logo"></div></a>
    <a href="http://www.aaum.pt/tv"><div id="aaum-tv-logo" class="support-logo"></div></a>
    <a href="http://www.rum.pt/"><div id="rum-logo" class="support-logo"></div></a>
    <a href="http://academico.rum.pt/"><div id="ja-logo" class="support-logo"></div></a>
    <a href="http://juventude.gov.pt/IPJ/"><div id="ipj-logo" class="support-logo"></div></a>
    <a href="http://www.fatech.com/"><div id="fatech-logo" class="support-logo"></div></a>
  </div>
</div>