<div id="tag-menu" class="block">
  <h2 class="title"><%= I18n::t('posts.tag_menu.title') %></h2>

  <ul>
    <% tag_cloud @tags_for_cloud, ['category'] do |name, css_class| %>
      <% classes = (@tags && (@tags.include? name)) ? (css_class + ' selected') : css_class %>
      <li><%= link_to name, posts_path(:tags => @tags, :this_tag => name), :class => classes %></li>
    <% end %>
  </ul>
</div>