<p class="preview-title"><%= I18n::t('admin.pages.preview.title') %></p>
<div class="content">
  <%= render :partial => 'pages/page' %>
  <p class="preview-return"><%= I18n::t('admin.pages.preview.return') %></p>
</div>
