<h1>New page</h1>
<% semantic_form_for 'record',  @page, :url => admin_pages_path, :html => { :class => 'create' }  do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <% form.button_field_set do -%>
    <%= form.commit_button("Save") -%>
  <% end -%>
<% end -%>
