<div class="content">
  <div class="inner">
    <h2><%= I18n::t('admin.pages.form.show') %></h2>
    <div id="preview">
      <div class="content">
        <%= render :partial => 'pages/page', :locals => { :page => @record } %>
      </div>
    </div>
    <fieldset class="buttons">
      <li class="commit">
        <%= link_to t('admin.pages.form.close_button'), admin_pages_path, :class => 'button negative' %>
      </li>
    </fieldset>
  </div>
</div>
