<div class="block">
  <div id="sidebar_head">
    <h3>Announcements</h3>
  </div>
  <div class="content">
    <p>... ...</p>
  </div>
</div>
<div class="block">
  <h3>Announcements 2</h3>
  <div class="content">
    <p>... ...</p>
  </div>
</div>

