<div class="block">
  <div id="sidebar_head">
    <h3>Announcements</h3>
  </div>
  <div class="content">
    <p>Estes aparecem numa janela grande e colorida!</p>
  </div>
</div>
<div class="block">
  <h3>Falar sobre os announcements</h3>
  <div class="content">
    <p>... ...</p>
  </div>
</div>

