/* line 1, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body {
  font-size: 13px;
}
/* line 4, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body a {
  border-bottom: 2px solid #cc0000;
}
/* line 7, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body h1 {
  font-size: 28px;
}
/* line 10, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body h2 {
  font-size: 24px;
}
/* line 13, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body h3 {
  font-size: 20px;
}
/* line 16, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body h4 {
  font-size: 16px;
}
/* line 19, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body h5 {
  font-size: 14px;
}
/* line 22, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body h1, div.textile-body h2, div.textile-body h3, div.textile-body h4, div.textile-body h5 {
  margin: 0 0 15px;
}
/* line 25, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body h1 a:hover, div.textile-body h2 a:hover, div.textile-body h3 a:hover, div.textile-body h4 a:hover, div.textile-body h5 a:hover {
  border-bottom: 3px solid #cc0000;
}
/* line 28, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body p {
  margin: 0 0 15px;
  text-align: justify;
}
/* line 32, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table {
  font-size: 13px;
  line-height: 25px;
  border-collapse: collapse;
  width: 100%;
}
/* line 38, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table td {
  border-bottom: 1px solid #dddddd;
  padding: 5px 10px;
  margin: 0 10px;
}
/* line 43, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table th {
  background-color: #cc0000;
  border-bottom: solid 1px #dddddd;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 10px;
  color: white;
  text-shadow: 0 1px 0 black;
}
/* line 52, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body table tr:first-child {
  border-top: 1px solid #dddddd;
}
/* line 55, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body strong {
  font-weight: bold;
}
/* line 58, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body cite, div.textile-body em {
  font-style: italic;
}
/* line 61, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body blockquote {
  margin: 30px;
  color: #777777;
  font-style: italic;
}
/* line 66, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ul {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 70, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body ol {
  list-style-type: decimal;
  list-style-position: inside;
}
/* line 74, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body li {
  margin: 10px 30px;
}
/* line 77, ../../../../app/themes/sass/partials/_textile.sass */
div.textile-body pre, div.textile-body code, div.textile-body tt {
  font-family: "lucida console", Monospace;
}

/* line 6, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
body {
  background-color: #302f2d;
  overflow-x: hidden;
}

/* line 11, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
h2.title, h3.archives-month-title {
  margin: 0 0 15px;
}
/* line 14, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
h2.title a:hover, h3.archives-month-title a:hover {
  border-bottom: 3px solid #cc0000;
}

/* line 18, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
hr {
  background-color: #dddddd;
  border: none;
  clear: left;
  height: 1px;
  margin: 15px 0;
}

/* line 26, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#panel {
  background-image: url("/stylesheets/themes/gaccum/images/metal-frame.png");
  background-repeat: no-repeat;
  height: 290px;
  margin: 25px auto;
  width: 770px;
}

/* line 34, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#account-info {
  background-color: white;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 1;
  -moz-box-shadow: 0 0 10px #222222;
  -webkit-box-shadow: 0 0 10px #222222;
  box-shadow: 0 0 10px #222222;
  behavior: url("/stylesheets/pie.htc");
}
/* line 43, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#account-info span.title {
  float: left;
  margin: 6px 15px 8px;
}
/* line 47, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#account-info span.options {
  float: right;
  margin: 6px 15px 8px;
}
/* line 51, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#account-info span.options a:hover {
  border-bottom: 2px solid #cc0000;
}

/* line 55, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#top-gradient {
  background-color: #bb0000;
  background-image: url("/stylesheets/themes/gaccum/images/topbar.png");
  background-repeat: repeat-x;
  height: 100px;
  width: 100%;
}

/* line 63, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#navigation-nojs {
  background-color: #bb0000;
  background-image: url("/stylesheets/themes/gaccum/images/menu.png");
  background-repeat: repeat-x;
  padding: 12px 0;
  position: relative;
  width: 100%;
  -moz-box-shadow: 0 0 10px #222222;
  -webkit-box-shadow: 0 0 10px #222222;
  box-shadow: 0 0 10px #222222;
  behavior: url("/stylesheets/pie.htc");
}
/* line 73, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#navigation-nojs ul {
  position: relative;
  left: 130px;
}
/* line 77, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#navigation-nojs ul li {
  display: inline;
}
/* line 80, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#navigation-nojs ul li a {
  border: none;
  color: white;
  padding: 12px 25px;
}
/* line 85, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#navigation-nojs ul li a:hover {
  background-color: #a00000;
}

/* line 89, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#tag-cloud {
  background-color: #ffe9e9;
  margin: 0 25px 20px 780px;
  min-height: 100px;
  padding: 10px 20px;
  position: relative;
  top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 100, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#tag-search-bar {
  margin: 0 0 15px;
}
/* line 103, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#tag-search-bar div#tags {
  margin: 10px;
}

/* line 107, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.entrybody {
  margin: 0 10px;
}

/* line 111, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#content.single {
  float: left;
  width: 96%;
  margin: 20px 20px 30px;
}

/* line 117, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#content.double {
  float: left;
  width: 745px;
  margin: 20px 20px 30px;
}

/* line 123, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#main {
  background-color: white;
  border-left: 3px solid #111111;
  border-right: 3px solid #111111;
  border-bottom: 3px solid #111111;
  margin: auto;
  width: 1000px;
}

/* line 132, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#user-info, div#user-invite {
  margin: 15px 10px;
}

/* line 136, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#footer {
  margin: 25px;
}
/* line 139, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#footer a:hover {
  border-bottom: 2px solid #cc0000;
}

/* line 143, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#flash {
  background-image: url("/images/dark_transparency.png");
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
/* line 152, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#flash div.message {
  margin: 0 0 0 30px;
}
/* line 155, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#flash div.message p {
  margin: 0 70px;
  padding: 20px;
}
/* line 159, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#flash div.message.error {
  background: url("/stylesheets/themes/gaccum/images/flash/error.png") no-repeat 0 50%;
}
/* line 162, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#flash div.message.warning {
  background: url("/stylesheets/themes/gaccum/images/flash/warning.png") no-repeat 0 50%;
}
/* line 165, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#flash div.message.info, div#flash div.message.notice {
  background: url("/stylesheets/themes/gaccum/images/flash/notice.png") no-repeat 0 50%;
}

/* line 169, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ul.list li {
  margin: 15px 0;
}

/* line 173, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
dl.list {
  display: inline-block;
}
/* line 176, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
dl.list dd {
  float: left;
  padding: 1px 0;
  margin: 5px;
}
/* line 181, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
dl.list dt {
  clear: left;
  color: #555555;
  float: left;
  font-weight: bold;
  padding: 0;
  margin: 5px;
  width: 150px;
}

/* line 191, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#archives {
  float: right;
  margin: 10px;
}
/* line 195, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#archives a:hover {
  border-bottom: 3px solid #cc0000;
}

/* line 199, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ul.archives-month {
  margin: 0 0 0 15px;
}
/* line 202, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ul.archives-month li {
  margin: 0 0 5px;
}
/* line 205, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ul.archives-month li a:hover {
  border-bottom: 2px solid #cc0000;
}

/* line 214, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#social-buttons {
  margin: 0 10px 5px;
  clear: both;
}
/* line 218, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#social-buttons iframe {
  vertical-align: bottom;
}
/* line 221, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#social-buttons a span {
  border: 1px solid #5f78ab;
  border-bottom: 1px solid #29447e;
}

/* line 231, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#announcements {
  overflow: hidden;
  position: relative;
  left: 20px;
  top: 20px;
  width: 730px;
}
/* line 238, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div#announcements a:hover {
  border: none;
}

/* line 242, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.announcement-tail {
  display: none;
}

/* line 246, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.announcements-bar {
  background: url("/images/dark_transparency.png");
  cursor: default;
  padding: 12px;
  position: absolute;
  right: 0;
}

/* line 254, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.announcement-block img {
  height: 250px;
  width: 730px;
}

/* line 259, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.announcement-text {
  background: url("/images/dark_transparency.png");
  bottom: 0;
  padding: 14px 12px 12px 14px;
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 267, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.announcement-text p.title {
  padding: 0 0 15px;
}

/* line 276, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.post {
  margin: 0 0 30px;
}

/* line 280, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.post-image {
  float: left;
  margin: 0 15px 5px 0;
}

/* line 285, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.meta {
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url("/stylesheets/pie.htc");
}
/* line 292, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.meta a:hover {
  border-bottom: 2px solid #cc0000;
}

/* line 301, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.avatar {
  float: left;
  margin-right: 20px;
}
/* line 305, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.avatar img {
  border: 1px solid #999999;
}

/* line 309, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
span.comment-meta {
  clear: both;
  display: block;
}

/* line 314, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
div.new-comment {
  padding: 0 15px;
}

/* line 318, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ol#comment-list {
  margin: 20px 0;
}
/* line 321, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ol#comment-list p {
  padding: 15px 0 0 72px;
}

/* line 330, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
button, a.button, input.button {
  background-color: #e9e9e9;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background: -webkit-linear-gradient(#f9f9f9, #e9e9e9);
  background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background: -o-linear-gradient(#f9f9f9, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#e9e9e9)";
  background: linear-gradient(#f9f9f9, #e9e9e9);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url("/stylesheets/pie.htc");
}

/* line 340, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
button:active, a.button:active, input.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f9f9f9));
  background: -webkit-linear-gradient(#e9e9e9, #f9f9f9);
  background: -moz-linear-gradient(top, #e9e9e9, #f9f9f9);
  background: -o-linear-gradient(#e9e9e9, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#f9f9f9)";
  background: linear-gradient(#e9e9e9, #f9f9f9);
  behavior: url("/stylesheets/pie.htc");
}

/* line 345, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
a.button {
  padding: 6px 10px;
}

/* line 349, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
input.button {
  padding: 5px 10px !important;
}

/* line 353, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
button {
  padding: 5px 10px;
}

/* line 357, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ul.buttons {
  margin: 15px 0;
}
/* line 360, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
ul.buttons a {
  margin: 0 10px 0 0;
}

/* line 364, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
*:first-child + html input[type] {
  padding: 2px 10px 3px;
}

/* line 369, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
a.google_ico, a.yahoo_ico {
  margin: 0 0 15px 0;
  width: 90%;
}

/* line 376, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
.selfclear {
  display: inline-block;
  display: block;
}
/* line 377, ../../../../app/themes/sass/partials/_redsign/frontend-structure.sass */
.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 6, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
body {
  color: #2e2e2e;
  font: 12px Verdana, HelveticaNeue, Helvetica, Arial, Sans-Serif;
}

/* line 11, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
a, a:active, a:link, a:visited {
  color: #2e2e2e;
  text-decoration: none;
}

/* line 16, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
a:hover {
  color: #555555;
}

/* line 20, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
h2.title {
  font-size: 24px;
}

/* line 24, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
h3.archives-month-title {
  font-size: 20px;
}

/* line 28, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
p.inline-errors {
  font-size: 11px;
}

/* line 32, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#account-info span.title {
  font-weight: bold;
}

/* line 36, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div.announcement-text {
  color: white;
  text-align: justify;
}

/* line 41, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div.announcement-text p.title {
  font-size: 14px;
  font-weight: bold;
}

/* line 46, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div.announcements-bar {
  color: white;
  text-align: justify;
}
/* line 50, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div.announcements-bar a, div.announcements-bar span {
  color: white;
  text-align: justify;
}
/* line 54, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div.announcements-bar a:hover, div.announcements-bar span:hover {
  color: #cc0000;
}

/* line 58, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#navigation-nojs {
  -moz-text-shadow: 0 1px 0 black;
  -webkit-text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  behavior: url("/stylesheets/pie.htc");
}
/* line 62, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#navigation-nojs ul li a {
  font-weight: bold;
}

/* line 68, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a:hover {
  border-bottom: 2px solid #cc0000;
}
/* line 71, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a.nube1 {
  font-size: 10px;
}
/* line 74, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a.nube2 {
  font-size: 12px;
}
/* line 77, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a.nube3 {
  font-size: 14px;
}
/* line 80, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a.nube4 {
  font-size: 16px;
}
/* line 83, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a.nube5 {
  font-size: 18px;
}
/* line 86, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a.nube6 {
  font-size: 20px;
}
/* line 89, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-cloud a.selected {
  font-weight: bold;
}

/* line 93, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-search-bar {
  font-size: 14px;
}
/* line 96, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-search-bar span#tagged-with {
  font-size: 16px;
}
/* line 99, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#tag-search-bar span#clear-link {
  font-size: 12px;
}

/* line 103, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div.meta li {
  line-height: 18px;
}

/* line 107, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#flash div.message p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* line 113, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#archives {
  font-size: 14px;
}

/* line 117, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
ul.archives-month {
  font-size: 14px;
}

/* line 121, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#footer {
  color: white;
  text-align: center;
}
/* line 125, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#footer a {
  color: #cc0000;
  font-weight: bold;
}

/* line 135, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
ol#comment-list a.author {
  font-weight: bold;
}

/* line 138, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
ol#comment-list span.comment-meta {
  text-align: right;
}

/* line 147, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
div#social-buttons {
  text-align: right;
}

/* line 156, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
button, a.button {
  text-decoration: none;
}

/* line 160, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
button, input.button {
  line-height: 16px;
}

/* line 164, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
button, a.button, input.button {
  color: #2e2e2e;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center;
}

/* line 171, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
button.positive:hover, a.positive:hover, input.positive:hover {
  color: #559911;
}

/* line 175, ../../../../app/themes/sass/partials/_redsign/frontend-typography.sass */
button.negative:hover, a.negative:hover, input.negative:hover {
  color: #dd3322;
}

/* line 1, ../../../../app/themes/sass/partials/_redsign/frontend-icons.sass */
.male {
  background: url("/images/icons/male.png") 0 50% no-repeat;
  padding: 0 0 0 20px;
}

/* line 6, ../../../../app/themes/sass/partials/_redsign/frontend-icons.sass */
.female {
  background: url("/images/icons/female.png") 0 50% no-repeat;
  padding: 0 0 0 20px;
}

/* line 11, ../../../../app/themes/sass/partials/_redsign/frontend-icons.sass */
div#tags a {
  background: url("/images/icons/tag_delete.png") no-repeat 0 50%;
  padding: 0 10px 0 20px;
}

/* line 16, ../../../../app/themes/sass/partials/_redsign/frontend-icons.sass */
fieldset.buttons li a.google_ico {
  background-color: #f5f5f5;
  background-image: url("/images/google.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

/* line 23, ../../../../app/themes/sass/partials/_redsign/frontend-icons.sass */
fieldset.buttons li a.yahoo_ico {
  background-color: #f5f5f5;
  background-image: url("/images/yahoo.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
